body{
  position: relative;
  font-family: 'NotoSans', sans-serif!important;
  background-color: #F2F3F7;
}
.wrapper{
  //margin: 8em auto 50px;
  // margin: 0 auto 50px;
  // max-width: 1920px;
  // min-width: 1024px;
  // width:100%;
  // position: relative;
  // padding-bottom: 1em;
}
.wrapper {
  max-width: 1072px;
  width:100%;
  position: relative;
  margin: auto;
}
header{
  height: 5em;
  width: 100%;
  max-width: 1920px;
  min-width: 1024px;
  margin: auto;
  z-index: 9999;
  //position: fixed;
  top: 0;
  .mini-header{
    height: 40%;
    background-color: #114E0B;
    color: #ffffff;
    .left-nav{
      float: left;
      text-transform: uppercase;
    }
    .right-nav{
      float: right;
      text-transform: uppercase;
    }
    ul{
      margin: 0;
      padding: 0;
      height: 100%;
      li{
        display: inline-block;
        height: 100%;
        a{
          display: inline-block;
          padding-left: 20px;
          color: #f7f7f7;
          line-height: 27px;
          font-size: 11px;
          font-weight: 600;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .main-header{
    height: 60%;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    .logo-section{
      float: left;
      width: 18%;
      height: 100%;
      text-align: left;
      img{
        width: 56%;
        margin-top: 6px;
      }
    }
    .search-section{
      float: left;
      width: 35%;
      height: 100%;
      .search-wrap{
        float: left;
        width: 100%;
        height: 100%;
        border: 1px solid #e7e7e7;
        background-color: #ffffff;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        margin-left: 50px;
        .form{
          position: absolute;
          top: 0;
          width: 85%;
          height: 100%;
          color: #333;
          input{
            width: 100%;
            height: 100%;
            border: none;
            padding: 0 30px;
            color: #666;
            &:focus{
              outline: none;
            }
          }
        }
        .search-button{
          position: absolute;
          right: 0;
          top: 0;
          width: 15%;
          background-color: #114E0B;
          height: 100%;
          color: #ffffff;
          text-align: center;
          font-size: 20px;
          line-height: 2.4;
          border: none;
          padding: 0;
          border-radius: 0 22px 22px 0;
          &:focus{
              outline: none;
          }
        }
      }
    }
    .account-section{
      float: right;
      width: 80%;
      height: 100%;
      ul{
        margin: 0;
        padding: 0;
        text-align: right;
        li{
          display: inline-block;
          margin-left: 30px;
          a{
            display: inline-block;
            color: #114E0B;
            font-size: 15px;
            font-weight: 600;
            line-height: 42px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.static-banner{
  background-color: #48A7D9;
  height: 26em;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8% 20%;
    color: #fff;
    text-align: center;
    .title{
      font-weight: 600;
      font-size: 25px;
      padding-bottom: 20px;
    }
    .caption{
      font-size: 16px;
      padding-top: 20px;
    }
    .search-wrap{
      background-color: #114E0B;
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      text-align: left;
      line-height: 1px;
      .search-input{
        display: inline-block;
        width: 45%;
        background-color: #ffffff;
        border-radius: 3px;
        padding: 1px;
        float: left;
        margin-right: 10px;
        span.icon{
          display: inline-block;
          width: 10%;
          float: left;
          color: #777;
          text-align: center;
          line-height: 35px;
        }
        input{
          display: inline-block;
          width: 90%;
          float: right;
          height: 100%;
          border: none;
          padding: 0 20px;
          height: 35px;
        }
      }
      .states-wrap{
        width: 30%;
        select{
          display: inline-block;
          width: 100%;
          background-color: #ffffff;
          border-radius: 3px;
          padding: 1px;
          float: left;
          margin-right: 10px;
          height: 37px;
          color: #999;
        }
      }
      .states-wrap{
        display: inline-block;
        margin-right: 10px;
      }
      button.search{
        background: #449d44;
        vertical-align: top;
        border: none;
        padding: 18px 64px;
        border-radius: 3px;
      }
    }
  }
}
.customer-section{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 0 12em 0 12em;
  .customer-thumbnail-wrap{
    width: 100%;
    height: 25em;
    padding-top: 8em;
    .thumbnail-caption{
      float: left;
      width: 30%;
      height: 100%;
      text-align: left;
      font-size: 35px;
      color: #333333;
    }
    .thumbnails{
      float: right;
      width: 70%;
      height: 100%;
      padding-left: 9em;
      span{
        display: inline-block;
        height: 70px;
        width: 70px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
  .information-wrap{
    width: 100%;
    height: 25em;
    padding-top: 10em;
    .information{
        width: 33.333%;
        height: 100%;
        .info-thumb{
          float: left;
          width: 20%;
          height: 100%;
          img{
            width: 95%;
          }
        }
        .info-details{
          float: right;
          width: 80%;
          height: 100%;
          padding-left: 2em;
          .header{
            text-align: left;
            font-size: 25px;
            color: #333;
            padding-bottom: 30px;
          }
          .content{
            color: #8C8C8C;
            line-height: 1.9em;
          }
        }
        &:nth-child(1){
          float: left;

        }
        &:nth-child(2){
          float: left;
        }
        &:nth-child(3){
          float: right;
        }
    }
  }
}
.four-child{
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px 0 20px;
  &.extra{
    padding-top: 60px;
  }
  &>a>div{
    float: left;
    width: 24%;
    padding: 0;
    margin: 0% 1% 1% 0%;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &:hover{
      //box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
      text-decoration: none;
    }
    & .overlay{
        width: 80%;
        height: 23%;
        border: 1px solid #fbfbfb;
        position: absolute;
        background-color: rgba(252, 252, 252, 0.9);
        right: -1px;
        bottom: 30px;
        padding: 6px;
        div{
          color: #333;
          font-size: 18px;
          &:nth-child(1){

          }
          &:nth-child(2){

          }
        }
    }
    & .link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      color: #ffffff;
      text-align: center;
      div{
        display: block;
        font-size: 35px;
        color: #fbfbfb;
        &.extra{
          margin-top: 2em;
        }
      }
      .code{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        display: block;
        span{
          color: #FB9734;
        }
      }
      button{
        background-color: #E14D00;
        border: none;
        color: #ffffff;
        font-weight: 600;
        margin-top: 5em;
        padding: 10px 30px;
        &:focus{
          outline: none;
        }
      }
    }
    iframe{
      width: 100%;
      height: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    img{
      width:100%;
      height: 100%;
    }
    &:nth-child(4n) {
      float: right;
      margin-right: 0px;
    }
  }
  .pick-date{
    background-color: #ffffff;
    text-align: center;
    .date{
      color: #555555;
      padding-top: 8em;
      font-size: 17px;
      padding-bottom: 20px;
    }
    .divider{
      width: 20%;
      margin: auto;
      border-top: 1px solid;
      color: #333333;
    }
    .top-picks{
      padding-top: 20px;
      font-weight: 600;
      font-size: 20px;
      color: #333333;
    }
  }
}
.section-divider{
  width: 100%;
  height: 8em;
  text-align: center;
  .heading{
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .caption{
    font-size: 12px;
    color: #114E0B;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .divider{
    width: 5%;
    margin: auto;
    border-top: 1px solid #999;
  }
}
footer{
  max-width: 1920px;
  min-width: 1024px;
  margin: auto;
  width: 100%;
  height: auto;
  margin-top: 5em;
  // background-color: #EDF1F2;
  position: relative;
  .main-footer{
    padding: 4em 15em 0 15em;
  }
  .sub-footer{
    position: absolute;
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-color: #303843;
    color: #56667C;
    text-align: center;
    bottom: 0;
    ul{
      margin: 0;
      padding: 0;
      height: 100%;
      li{
        display: inline-block;
        margin-right: 20px;
        font-size: 11px;
        a{
          display: inline-block;
          color: #D8D9DB;
          font-size: 11px;
        }
      }
    }
  }
  .link-wrap{
    text-align: center;
    ul{
      margin: 0;
      padding: 0;
      height: 100%;
      li{
        display: block;
        height: 100%;
        text-align: left;
        &.heading{
          font-weight: 600;
          color: #FB9734;
          padding-bottom: 10px;
        }
        a{
          display: inline-block;
          color: #555;
          font-size: 14px;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    &:nth-child(2){
      padding-left: 5em;
    }
    &:nth-child(3){
      padding-left: 10em;
    }
  }
}
section.cat-wrap{
  margin-bottom: 50px;
  text-align: center;
  .cat{
    width: 100%;
    height: 3em;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
    .text{
      width: 60%;
      font-weight: 600;
      float: left;
    }
    .img{
      width: 40%;
      float: right;
      height: 37px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-top: -8px;
    }
  }
}
section.categories{
  margin-bottom: 20px;
  .categories-wrap{
    width: 100%;
    height: auto;
    border: 1px solid #DCDEE3;
    background-color: #ffffff;
    padding: 20px;
    .title{
      span{
        display: inline-block;
        &.icon{
          color: #A0A2AD;
          font-size: 20px;
          margin-right: 15px;
        }
        &.text{
          color: #333;
          font-size: 20px;
        }
      }
    }
    .content{
      margin-top: 20px;
      .img-wrap{
        display: inline-block;
        width: 116px;
        height: auto;
        text-decoration: none;
         margin-bottom: 20px;
        .img{
          width: 100%;
          height: 80px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .caption{
            text-align: center;
            font-size: 12px;
            padding-top: 10px;
            font-weight: 600;
            color: #333;
        }
      }
    }
  }
  .farmer-wrap{
    width: 100%;
    height: 425px;
    border: 1px solid #DCDEE3;
    background-color: #ffffff;
    .heading{
        width: 100%;
        height: 5em;
        border-bottom: 1px solid #DCDEE3;
      .img{
        float: left;
        width: 20%;
        padding: 10px;
        .d-img{
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 49px;
          height: 49px;
          border-radius: 50%;
        }
      }
      .description{
        float: right;
        width: 80%;
        padding: 10px;
        .caption{
          font-weight: 600;
          a{
            text-decoration: none;
          }
        }
        .location{
          margin-top: 2px;
          span{
            display: inline-block;
            &.icon{
              color: #5899F4;
              font-size: 14px;
              margin-right: 3px;
            }
            &.text{
              color: #333;
              font-weight: 600;
            }
          }
        }
      }
    }
    .content{
      position: relative;
      height: 85%;
      a{
        position: absolute;
        display: block;
        &:first-child{
          width: 60%;
          height: 60%;
          top: 0;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        &:nth-child(2){
          width: 40%;
          height: 60%;
          top: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        &:nth-child(3){
          width: 50%;
          height: 40%;
          bottom: 0;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        &:nth-child(4){
          width: 50%;
          height: 40%;
          bottom: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }
}
.d-search-wrap{
  padding: 10px;
  background-color: #fff;
  margin-top: 2em;
  border-radius: 3px;
}
section.search-widget{
    .search-wrap{
      background-color: #114E0B;
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      text-align: left;
      line-height: 1px;
      .search-input{
        display: inline-block;
        width: 45%;
        background-color: #ffffff;
        border-radius: 3px;
        padding: 1px;
        float: left;
        margin-right: 10px;
        span.icon{
          display: inline-block;
          width: 10%;
          float: left;
          color: #777;
          text-align: center;
          line-height: 35px;
        }
        input{
          display: inline-block;
          width: 90%;
          float: right;
          height: 100%;
          border: none;
          padding: 0 20px;
          height: 35px;
        }
      }
      .states-wrap{
        width: 30%;
        select{
          display: inline-block;
          width: 100%;
          background-color: #ffffff;
          border-radius: 3px;
          padding: 1px;
          float: left;
          margin-right: 10px;
          height: 37px;
          color: #999;
        }
      }
      .states-wrap{
        display: inline-block;
        margin-right: 10px;
      }
      button.search{
        background: #449d44;
        vertical-align: top;
        border: none;
        padding: 18px 89px;
        border-radius: 3px;
        color: #fff;
        font-weight: 600;
      }
    }
}
.mt-20{
  margin-top: 20px;
}
.pr-5{
  padding-right: 5px;
}
.pl-5{
  padding-left: 5px;
}
.pl-0{
  padding-left: 0;
}
.p-0{
  padding: 0;
}
.mt-10{
  margin-top: 10px;
}
.box-shadow{
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}
.filter-section{
  min-height: 20em;
  background-color: #ffffff;
  padding: 20px 10px;
  .d-filter-wrap{
    margin-bottom: 20px;
    .title{
      font-size: 13px;
      font-weight: 600;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 10px;
      margin-bottom: 20px;
      color: #707676;
    }
    .content{
      select{
        width: 100%;
        border: 1px solid #e8e8e8;
        height: 3em;
        border-radius: 3px;
        padding: 0 5px;
        font-size: 13px;
      }
    }
  }
}
.product-section{
  min-height: 20em;
  background-color: #ffffff;
  padding: 20px 10px;
  ul{
    margin: 0;
    padding: 0;
    li{
      display: block;
      a{
        display: block;
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 0;
        &:last-child{
          border: none;
        }
        .img{
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 12em;
        }
        .name{
          font-size: 16px;
          font-weight: 600;
          padding-bottom: 5px;
        }
        .rate{
          line-height: 1px;
          span{
            display: inline-block;
            color: #FFA500;
          }
        }
        .decription{
          color: #333;
          padding-top: 15px;
        }
        .store{
          margin-top: 10px;
          font-size: 13px;
          color: #333;
          span{
            display: inline-block;
            &:nth-child(1){
              font-weight: 600;
            }
            &:nth-child(2){
              color: #114E0B;
            }
          }
        }
        .price-wrap{
          text-align: right;
          font-size: 20px;
          font-weight: 600;
          color: #FFA500;
        }
      }
    }
  }
}
.product-view-wrap{
  margin-top: 50px;
  .farmName{
    text-align: center;
    font-weight: 600;
    padding: 30px 0;
    font-size: 23px;
  }
  .productImageWrap{
    .thumbnailsWrap{
      width: 20%;
      float: left;
      .thumbnails{
        width: 85px;
        height: 85px;
        margin-bottom: 10px;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: block;
        border: 4px solid #fbfbfb;
        border: 1px solid rgba(100, 100, 100, 0.4);
        box-shadow: 1px 0px 2px rgba(100, 100, 100, 0.4);
        img{
          width: auto;
          height: 100%;
          max-width: 100%;
          margin: auto;
        }
      }
    }
    .mainProductWrap{
      width: 80%;
      float: right;
      .mainProduct{
        height: 100%;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 5%;
        overflow: hidden;
        img{
          width: 90%;
          max-width: 100%;
          margin: auto;
          height: auto;
        }
      }
    }
  }
  .proInfo{
    text-align: left;
    .proName{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .proPrice{
      font-size: 20px;
      color: #114E0B;
      padding-bottom: 10px;
    }
    .star{
      padding-bottom: 10px;
      .rate{
          line-height: 1px;
          span{
            display: inline-block;
            color: #FFA500;
          }
      }
    }
    .proDecription{
      padding-bottom: 10px;
        table{
          width: 100%;
          border-collapse: collapse;
          tr{
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            td{
              padding: 10px 0;
              vertical-align: top;
              &.name{
                font-weight: 600;
                width: 30%;
              }
              &.description{
                width: 70%;
              }
            }
          }
        }
    }
    .quantity{
      form{
        input{
          border-radius: 0;
          border-color: #ccc;
          box-shadow: none;
          outline: none;
          width: 74.5%;
          &:focus{
           outline: none;
          }
        }
      }
    }
    .contact-farmer{
      button{
        color: #fff;
        text-transform: uppercase;
        height: 45px;
        width: 74.5%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #5bb75b;
        background: #5bb75b;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
  .otherProduct{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5em;
  }
  .line{
    width: 7%;
    margin: auto;
    border: 1px solid #114E0B;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}