body {
    position: relative;
    font-family: NotoSans, sans-serif!important;
    background-color: #F2F3F7;
    transition: background-color .5s;

}
.white{
    background-color: #fff;
}
@media (min-width:768px) {
}
.alert-fix{
    margin-bottom: 0;
    border-radius: 4px;
    right: 50px;
    position: fixed;
    top: 100px;
    width: 80%;
    z-index: 2;
}
@media (min-width:768px) {
    .alert-fix{
        margin-bottom: 0;
        border-radius: 4px;
        right: 135px;
        position: fixed;
        top: 100px;
        width: 25%;
        z-index: 2;
    }
}
.wrapper {
    max-width: 1072px;
    width: 100%;
    position: relative;
    margin: auto
}

header {
    height: 5em;
    width: 100%;
    margin: auto;
    z-index: 9999;
    top: 0
}

header .mini-header {
    height: 40%;
    background-color: #114E0B;
    color: #fff
}

header .mini-header .left-nav {
    float: left;
    text-transform: uppercase
}

header .mini-header .right-nav {
    float: right;
    text-transform: uppercase
}

header .mini-header ul {
    margin: 0;
    padding: 0;
    height: 100%
}

header .mini-header ul li {
    display: inline-block;
    height: 100%
}

header .mini-header ul li a {
    display: inline-block;
    padding-left: 20px;
    color: #f7f7f7;
    line-height: 27px;
    font-size: 11px;
    font-weight: 600
}

header .mini-header ul li a:hover {
    text-decoration: none
}

header .main-header {
    height: 5em;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8
}

header .main-header .logo-section {
    float: left;
    width: 18%;
    height: 100%;
    text-align: left
}

header .main-header .logo-section img {
    width: 220px;
    margin-top: 6px
}

header .main-header .search-section {
    float: left;
    width: 35%;
    height: 100%
}

header .main-header .search-section .search-wrap {
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    margin-left: 50px
}

header .main-header .search-section .search-wrap .form {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    color: #333
}

header .main-header .search-section .search-wrap .form input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 30px;
    color: #666
}

header .main-header .search-section .search-wrap .form input:focus {
    outline: 0
}

header .main-header .search-section .search-wrap .search-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    background-color: #114E0B;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 2.4;
    border: none;
    padding: 0;
    border-radius: 0 22px 22px 0
}

header .main-header .search-section .search-wrap .search-button:focus {
    outline: 0
}

header .main-header .account-section {
    float: right;
    width: 80%;
    height: 5em;
    line-height: 5em;
}

header .main-header .account-section ul {
    margin: 0;
    padding: 0;
    text-align: right
}

header .main-header .account-section ul li {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

header .main-header .account-section ul li a {
    display: inline-block;
    color: #114E0B;
    font-size: 15px;
    font-weight: 600;
    line-height: 42px;
    text-decoration: none
}
header .main-header .account-section ul li:hover a {
    display: inline;
    padding: 0px 0px 5px 0;
    border-bottom: 3px solid #449d44;
}
header .main-header .account-section ul li a.active {
    display: inline;
    padding: 0px 0px 5px 0;
    border-bottom: 3px solid #449d44;
}
header.mobileHeader{
   height: 5em;
   background-color: #fff;
   border-bottom: 1px solid #e7e7e7;
}
header.mobileHeader .mobile-header{
    padding: 0 10px;
    position: relative;
}
header.mobileHeader .mobile-header a img{
    width: 15em;
    height: auto;
    padding-top: 6px;
}
header.mobileHeader .mobile-header .bugger{
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 3em;
    cursor: pointer;
}

.static-banner {
    background-color: #48A7D9;
    height: 26em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative
}

.static-banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8% 10px;
    color: #fff;
    text-align: center
}
@media (min-width:768px) {
    .static-banner .overlay {
        padding: 8% 20%;
    }
}

.static-banner .overlay .title {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px
}

.static-banner .overlay .caption {
    font-size: 16px;
    padding-top: 20px
}

.static-banner .overlay .search-wrap {
    background-color: #114E0B;
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-radius: 3px;
    text-align: left;
    line-height: 1px
}

.static-banner .overlay .search-wrap .search-input {
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    padding: 1px;
    float: left;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.static-banner .overlay .search-wrap .search-input span.icon {
    display: inline-block;
    width: 10%;
    float: left;
    color: #777;
    text-align: center;
    line-height: 35px
}

.static-banner .overlay .search-wrap .search-input input {
    display: inline-block;
    width: 90%;
    float: right;
    height: 100%;
    border: none;
    padding: 0 20px;
    height: 35px;
    color: #999;
    outline: none;
}

.static-banner .overlay .search-wrap .states-wrap {
    width: 100%;
    padding-bottom: 10px;
}

.static-banner .overlay .search-wrap .states-wrap select {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 1px;
    float: left;
    margin-right: 10px;
    height: 37px;
    color: #999
}

.static-banner .overlay .search-wrap .states-wrap {
    display: inline-block;
    margin-right: 10px
}

.static-banner .overlay .search-wrap button.search {
    background: #449d44;
    vertical-align: top;
    border: none;
    padding: 18px 64px;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
}

.customer-section {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0 12em 0 12em
}

.customer-section .customer-thumbnail-wrap {
    width: 100%;
    height: 25em;
    padding-top: 8em
}

.customer-section .customer-thumbnail-wrap .thumbnail-caption {
    float: left;
    width: 30%;
    height: 100%;
    text-align: left;
    font-size: 35px;
    color: #333
}

.customer-section .customer-thumbnail-wrap .thumbnails {
    float: right;
    width: 70%;
    height: 100%;
    padding-left: 9em
}

.customer-section .customer-thumbnail-wrap .thumbnails span {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.customer-section .information-wrap {
    width: 100%;
    height: 25em;
    padding-top: 10em
}

.customer-section .information-wrap .information {
    width: 33.333%;
    height: 100%
}

.customer-section .information-wrap .information .info-thumb {
    float: left;
    width: 20%;
    height: 100%
}

.customer-section .information-wrap .information .info-thumb img {
    width: 95%
}

.customer-section .information-wrap .information .info-details {
    float: right;
    width: 80%;
    height: 100%;
    padding-left: 2em
}

.customer-section .information-wrap .information .info-details .header {
    text-align: left;
    font-size: 25px;
    color: #333;
    padding-bottom: 30px
}

.customer-section .information-wrap .information .info-details .content {
    color: #8C8C8C;
    line-height: 1.9em
}

.customer-section .information-wrap .information:nth-child(1) {
    float: left
}

.customer-section .information-wrap .information:nth-child(2) {
    float: left
}

.customer-section .information-wrap .information:nth-child(3) {
    float: right
}

.four-child {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

.four-child.extra {
    padding-top: 60px
}

.four-child div.ImgItem {
    padding: 0;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.four-child div.ImgItem:hover {
    text-decoration: none
}

.four-child div.ImgItem .overlay {
    width: 80%;
    height: 23%;
    border: 1px solid #fbfbfb;
    position: absolute;
    background-color: rgba(252, 252, 252, .9);
    right: -1px;
    bottom: 30px;
    padding: 6px
}

.four-child div.ImgItem .overlay div {
    color: #333;
    font-size: 18px
}

.four-child div.ImgItem .link-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    color: #fff;
    text-align: center
}

.four-child div.ImgItem .link-overlay div {
    display: block;
    font-size: 35px;
    color: #fbfbfb
}

.four-child div.ImgItem .link-overlay div.extra {
    margin-top: 2em
}

.four-child div.ImgItem .link-overlay .code {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    display: block
}

.four-child div.ImgItem .link-overlay .code span {
    color: #FB9734
}

.four-child div.ImgItem .link-overlay button {
    background-color: #E14D00;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-top: 5em;
    padding: 10px 30px
}

.four-child div.ImgItem .link-overlay button:focus {
    outline: 0
}

.four-child div.ImgItem iframe {
    width: 100%;
    height: 100%;
    max-height: 100%;
    vertical-align: middle
}

.four-child div.ImgItem img {
    width: 100%;
    height: 100%
}

.four-child div.ImgItem:nth-child(4n) {
    // float: right;
    // margin-right: 0
}

.four-child .pick-date {
    background-color: #fff;
    text-align: center
}

.four-child .pick-date .date {
    color: #555;
    padding-top: 8em;
    font-size: 17px;
    padding-bottom: 20px
}

.four-child .pick-date .divider {
    width: 20%;
    margin: auto;
    border-top: 1px solid;
    color: #333
}

.four-child .pick-date .top-picks {
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333
}

.section-divider {
    width: 100%;
    height: 8em;
    text-align: center
}

.section-divider .heading {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    padding-bottom: 10px
}

.section-divider .caption {
    font-size: 12px;
    color: #114E0B;
    font-weight: 600;
    padding-bottom: 20px
}

.section-divider .divider {
    width: 5%;
    margin: auto;
    border-top: 1px solid #999
}

footer {
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 5em;
    position: relative
}

footer .main-footer {
    padding: 4em 15em 0 15em
}

footer .sub-footer {
    position: absolute;
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-color: #303843;
    color: #56667C;
    text-align: center;
    bottom: 0
}

footer .sub-footer ul {
    margin: 0;
    padding: 0;
    height: 100%
}

footer .sub-footer ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 11px
}

footer .sub-footer ul li a {
    display: inline-block;
    color: #D8D9DB;
    font-size: 11px
}

footer .link-wrap {
    text-align: center
}

footer .link-wrap ul {
    margin: 0;
    padding: 0;
    height: 100%
}

footer .link-wrap ul li {
    display: block;
    height: 100%;
    text-align: left
}

footer .link-wrap ul li.heading {
    font-weight: 600;
    color: #FB9734;
    padding-bottom: 10px
}

footer .link-wrap ul li a {
    display: inline-block;
    color: #555;
    font-size: 14px
}

footer .link-wrap ul li a:hover {
    text-decoration: none
}

footer .link-wrap:nth-child(2) {
    padding-left: 5em
}

footer .link-wrap:nth-child(3) {
    padding-left: 10em
}

section.cat-wrap {
    margin-bottom: 50px;
    text-align: center
}

section.cat-wrap .cat {
    width: 100%;
    height: 3em;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
    color: #333;
}

section.cat-wrap .cat .text {
    width: 60%;
    font-weight: 600;
    float: left
}

section.cat-wrap .cat .img {
    width: 40%;
    float: right;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: -8px
}

section.categories {
    margin-bottom: 20px
}

section.categories .categories-wrap {
    width: 100%;
    height: auto;
    border: 1px solid #DCDEE3;
    background-color: #fff;
    padding: 20px
}

section.categories .categories-wrap .title span {
    display: inline-block
}

section.categories .categories-wrap .title span.icon {
    color: #A0A2AD;
    font-size: 20px;
    margin-right: 15px
}

section.categories .categories-wrap .title span.text {
    color: #333;
    font-size: 20px
}

section.categories .categories-wrap .content {
    margin-top: 20px
}

section.categories .categories-wrap .content .img-wrap {
    display: inline-block;
    width: 116px;
    height: auto;
    text-decoration: none;
    margin-bottom: 20px
}

section.categories .categories-wrap .content .img-wrap .img {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

section.categories .categories-wrap .content .img-wrap .caption {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    font-weight: 600;
    color: #333
}

section.categories .farmer-wrap {
    width: 100%;
    height: 425px;
    border: 1px solid #DCDEE3;
    background-color: #fff;
    margin-bottom: 20px;
}

section.categories .farmer-wrap .heading {
    width: 100%;
    height: 5em;
    border-bottom: 1px solid #DCDEE3
}

section.categories .farmer-wrap .heading .img {
    float: left;
    width: 20%;
    padding: 10px
}

section.categories .farmer-wrap .heading .img .d-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 49px;
    height: 49px;
    border-radius: 50%
}

section.categories .farmer-wrap .heading .description {
    float: right;
    width: 80%;
    padding: 10px
}

section.categories .farmer-wrap .heading .description .caption {
    font-weight: 600
}

section.categories .farmer-wrap .heading .description .caption a {
    text-decoration: none;
    color: #333;
}

section.categories .farmer-wrap .heading .description .location {
    margin-top: 2px
}

section.categories .farmer-wrap .heading .description .location span {
    display: inline-block
}

section.categories .farmer-wrap .heading .description .location span.icon {
    color: #5899F4;
    font-size: 14px;
    margin-right: 3px
}

section.categories .farmer-wrap .heading .description .location span.text {
    color: #333;
    font-weight: 600
}

section.categories .farmer-wrap .content {
    position: relative;
    height: 85%
}

section.categories .farmer-wrap .content a {
    position: absolute;
    display: block
}

section.categories .farmer-wrap .content a:first-child {
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

section.categories .farmer-wrap .content a:nth-child(2) {
    width: 40%;
    height: 60%;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

section.categories .farmer-wrap .content a:nth-child(3) {
    width: 50%;
    height: 40%;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

section.categories .farmer-wrap .content a:nth-child(4) {
    width: 50%;
    height: 40%;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.d-search-wrap {
    padding: 10px;
    background-color: #fff;
    margin-top: 2em;
    border-radius: 3px
}

section.search-widget .search-wrap {
    background-color: #114E0B;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    text-align: left;
    line-height: 1px
}

section.search-widget .search-wrap .search-input {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 1px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

}
@media (min-width:768px) {
    section.search-widget .search-wrap .search-input {
        display: inline-block;
        width: 45%;
        background-color: #fff;
        border-radius: 3px;
        padding: 1px;
        float: left;
        margin-right: 10px;
        margin-bottom: 0px;
    }
}

section.search-widget .search-wrap .search-input span.icon {
    display: inline-block;
    width: 10%;
    float: left;
    color: #777;
    text-align: center;
    line-height: 35px
}

section.search-widget .search-wrap .search-input input {
    display: inline-block;
    width: 90%;
    float: right;
    height: 100%;
    border: none;
    padding: 0 20px;
    height: 35px;
    outline: none;
}

section.search-widget .search-wrap .states-wrap {
    width: 100%;
    margin-bottom: 10px;
}
@media (min-width:768px) {
   section.search-widget .search-wrap .states-wrap {
        width: 30%;
        margin-bottom: 0px;
    } 
}

section.search-widget .search-wrap .states-wrap select {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 1px;
    float: left;
    margin-right: 10px;
    height: 37px;
    color: #999
}

section.search-widget .search-wrap .states-wrap {
    display: inline-block;
    margin-right: 10px
}

section.search-widget .search-wrap button.search {
    background: #449d44;
    vertical-align: top;
    border: none;
    padding: 18px 89px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    width: 100%;
}
@media (min-width:768px) {
    section.search-widget .search-wrap button.search {
        background: #449d44;
        vertical-align: top;
        border: none;
        padding: 18px 89px;
        border-radius: 3px;
        color: #fff;
        font-weight: 600;
        width: auto;
    }
}
.mt-20 {
    margin-top: 20px
}

.pr-5 {
    padding-right: 5px
}

.pl-5 {
    padding-left: 5px
}

.pl-0 {
    padding-left: 0
}

.p-0 {
    padding: 0
}

.mt-10 {
    margin-top: 10px
}

.box-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), -1px 0 0 rgba(0, 0, 0, .03), 1px 0 0 rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .12)
}

.filter-section {
    min-height: 20em;
    background-color: #fff;
    padding: 20px 10px
}

.filter-section .d-filter-wrap {
    margin-bottom: 20px
}

.filter-section .d-filter-wrap .title {
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #707676
}

.filter-section .d-filter-wrap .content select {
    width: 100%;
    border: 1px solid #e8e8e8;
    height: 3em;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 13px;
    background: #fff;
}

.product-section {
    height: auto;
    background-color: #fff;
    padding: 0px 10px
}

.product-section ul {
    margin: 0;
    padding: 0
}

.product-section ul li {
    display: block
}

.product-section ul li a {
    display: block;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
    text-decoration: none;
}

.product-section ul li a:last-child {
    border: none;
    text-decoration: none;
}

.product-section ul li a .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 12em;
    margin-bottom: 10px;
}

.product-section ul li a .name-wrap {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
}
.product-section ul li a .name {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-section ul li a .price-wrap {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-section ul li a .rate {
    line-height: 1px
}

.product-section ul li a .rate span {
    display: inline-block;
    color: orange
}

.product-section ul li a .decription {
    color: #777;
    padding-top: 5px
}

.product-section ul li a .store {
    margin-top: 10px;
    font-size: 13px;
    color: #333
}

.product-section ul li a .store span {
    display: inline-block
}

.product-section ul li a .store span:nth-child(1) {
    font-weight: 600
}

.product-section ul li a .store span:nth-child(2) {
    color: #333;
}

.product-section ul li a .price-wrap {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    color: #F69A02;
}

.product-section ul li a .price-wrap .measure{
    display: inline-block;
    font-size: 12px;
}

.product-view-wrap {
    margin-top: 50px
}

.product-view-wrap .farmName {
    text-align: center;
    font-weight: 600;
    padding: 30px 0;
    font-size: 23px
}

.product-view-wrap .productImageWrap .thumbnailsWrap {
    vertical-align: top;
    margin-bottom: 20px;
}

.product-view-wrap .productImageWrap .thumbnailsWrap .thumbnails {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: block;
    border: 4px solid #fbfbfb;
    border: 1px solid rgba(100, 100, 100, .4);
    box-shadow: 1px 0 2px rgba(100, 100, 100, .4)
}

.product-view-wrap .productImageWrap .thumbnailsWrap .thumbnails img {
    width: auto;
    height: 100%;
    max-width: 100%;
    margin: auto
}

.product-view-wrap .productImageWrap .mainProductWrap {
    // width: 80%;
    // float: right
    vertical-align: top;
}

.product-view-wrap .productImageWrap .mainProductWrap .mainProduct {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // margin-left: 5%;
    overflow: hidden
}

.product-view-wrap .productImageWrap .mainProductWrap .mainProduct img {
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: auto
}

.product-view-wrap .proInfo {
    text-align: left
}

.product-view-wrap .proInfo .proName {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.product-view-wrap .proInfo .proPrice {
    font-size: 20px;
    color: #114E0B;
    padding-bottom: 10px
}

.product-view-wrap .proInfo .star {
    padding-bottom: 10px
}

.product-view-wrap .proInfo .star .rate {
    line-height: 1px
}

.product-view-wrap .proInfo .star .rate span {
    display: inline-block;
    color: orange
}

.product-view-wrap .proInfo .proDecription {
    padding-bottom: 10px
}

.product-view-wrap .proInfo .proDecription table {
    width: 100%;
    border-collapse: collapse
}

.product-view-wrap .proInfo .proDecription table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.product-view-wrap .proInfo .proDecription table tr td {
    padding: 10px 0;
    vertical-align: top
}

.product-view-wrap .proInfo .proDecription table tr td.name {
    font-weight: 600;
    width: 30%
}

.product-view-wrap .proInfo .proDecription table tr td.description {
    width: 70%
}

.product-view-wrap .proInfo .quantity form input {
    border-radius: 0;
    border-color: #ccc;
    box-shadow: none;
    outline: 0;
    width: 74.5%
}

.product-view-wrap .proInfo .quantity form input:focus {
    outline: 0
}

.product-view-wrap .proInfo .contact-farmer .button {
    color: #fff!important;
    text-transform: uppercase;
    height: 45px;
    line-height: 41px;
    font-weight: 600;
    width: 74.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #5bb75b;
    background: #5bb75b;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    display: block;
    text-decoration: none;
    text-align: center;
}

.product-view-wrap .otherProduct {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5em
}

.product-view-wrap .line {
    width: 7%;
    margin: auto;
    border: 1px solid #114E0B;
    margin-top: 20px;
    margin-bottom: 20px
}
.noItems{
    text-align: center;
    margin-bottom: 20em;
}
.noItems .icon{
    font-size: 10em;
    color: #ccc;
}
.noItems .message{
    font-size: 20px;
    padding-bottom: 20px;
}
.noItems .actionBtn{
    display: inline-block;
    border: 1px solid;
    padding: 10px 40px;
    font-weight: 600;
    color: #fff!important;
    background: #23527c;
}
.noItems .actionBtn:hover{
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181!important;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
}
.divider{
    background: #999;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#main .noticeArchives{
    width: 100%;
    height: 50em;
    background: #fff;
    margin: 50px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding: 50px 40px;
}
#main .noticeArchives .title{
    font-size: 25px;
    font-weight: 600;
}
#main .noticeArchives .noticeArchivesTitle{
    font-size: 14px;
    font-weight: 600;
    color: #114E0B;
    padding-bottom: 5px;
}
#main .noticeArchives .notificationWrap{
    margin-top: 20px;
}
#main .noticeArchives .notificationWrap ul{
    margin: 0;
    padding: 0;
}
#main .noticeArchives .notificationWrap ul li{
    display: block;
    border-left: 4px solid #999;
    padding: 5px 20px;
}
#main .noticeArchives .notificationWrap ul li:hover{
    border-left: 4px solid #114E0B;
}
#main .noticeArchives .notificationWrap ul li:nth-child(odd){
    background: #fbfbfb;
}
#main .noticeArchives .notificationWrap ul li a{
    display: block;
    color: #333;
}
#main .noticeArchives .notificationWrap ul li a:hover{
    text-decoration: none;
}
#main .noticeArchives .notificationWrap ul li a:focus{
    text-decoration: none;
}
#main .noticeArchives .notificationWrap ul li .content{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main .noticeArchives .notificationWrap ul li .time{
    font-size: 13px;
    padding-top: 10px;
}
#main table{
    margin-top: 40px;
}
#main table td{
    vertical-align: top;
}
#main .noticeboardWrap{
    min-height: 40em;
}
#main .noticeboardWrap .noticeboard{
    background-color: #fff;
    padding: 20px;
}
#main .noticeboardWrap .noticeboard .title{
    font-weight: 600;
    font-size: 27px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: #114E0B;
}
#main .noticeboardWrap .noticeboard .date{
    font-style: italic;
    padding-bottom: 10px;
}
#main .noticeboardWrap .noticeboard .content{
    color: #000;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.border-right{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.fix-left-width{
    width: 70%;
}
#main .sideInfoWrap{
    padding: 20px;
}
#main .sideInfoWrap .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #114E0B;
}
#main a{
    text-decoration: none;
    color: inherit;
}
#main a:hover{
    text-decoration: none;
}
#main .sideInfoWrap .sideInfo{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: -1px;
}
#main .sideInfoWrap .sideInfo .title{
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 0!important;
}
#main .sideInfoWrap .sideInfo .time{
    font-style: italic;
    padding-bottom: 5px;
    font-size: 12px;
}
#main .sideInfoWrap .sideInfo .content{
    color: #000;
    padding-bottom: 15px;
}
#main .sideInfoWrap .viewAll{
    text-align: center;
    display: block;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    width: 100%;
    height: 100%;
}
#main .sideInfoWrap .viewAll a{
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin-top: 1px;
}
#main .sideInfoWrap .viewAll a:hover{
   background: #fbfbfb;
}
#main .wishlist{
    background: #fff;
    margin-top: 40px;
    margin-bottom: 5em;

}
#main .wishlist .wish{
    padding: 20px;
    margin-bottom: 20px;
}
#main .wishlist .wish .remove{
    border: 1px solid transparent;
    padding: 5px 5px;
    font-size: 12px;
}
#main .wishlist .wish .remove:hover{
    border: 1px solid transparent;
    padding: 5px 5px;
    font-size: 12px;
    background: #f7f7f7;
    border-radius: 3px;
}
.shadowed{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.pt-20{
    padding-top: 20px;
}

.wishlist a.wishlistbtn{
    color: #fff!important;
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
}
.toggleBtn{
    margin: 20px 15px 10px 15px;
    color: #fff;
    background-color: #449d44;
    padding: 5px 20px;
    border: 1px solid #449d44;
    border-radius: 3px;
    font-weight: 600;
}
button.show-filter{
    background: #449d44;
    vertical-align: top;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin: 10px 15px;
}
