#profile-wrapper{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 3em;
}
#profile-wrapper .banner{
	width: 100%;
	height: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
#profile-wrapper .banner .profile-summery{
	height: auto;
	margin: auto;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	background: #ffffff;
    margin-top: 20px;
    padding: 20px;
    margin-left: 0;
}
#profile-wrapper .banner .profile-summery .profile-image-section{
	height: 100%;
}
#profile-wrapper .banner .profile-summery .profile-image-section .profile-image{
	float: left;
	margin-top: 40px;
	width: 100%;
	height: 200px;
	// border-radius: 50%;
	border: 1px solid #ddd;
	background-position: center top;
	background-size: auto 100%;
	background-repeat: no-repeat;
	position: relative;
}
#profile-wrapper .banner .profile-summery .profile-image-section .profile-image .change{
	position: absolute;
	border: none;
	text-decoration: none;
	background-color: #FE4177;
	color: #fff;
	padding: 3px 15px;
	border-radius: 3px;
	right: -10px;
	top: -10px;
}
@media (min-width:768px) {
	#profile-wrapper .banner .profile-summery .profile-image-section .profile-image{
	float: left;
	width: 178px;
	margin-top: 0px;
	height: 178px;
	border-radius: 50%;
	border: 1px solid #ddd;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
}
#profile-wrapper .banner .profile-summery .profile-image-section .description{
	width: 100%;
	height: auto;
	padding-left: 20px;
	float: right;
	padding: 20px 10px;
}
@media (min-width:768px) {
	#profile-wrapper .banner .profile-summery .profile-image-section .description{
	width: 70%;
	height: auto;
	padding-left: 20px;
	float: right;
	padding: 20px 10px;
}
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .name{
	font-size: 20px;
    font-weight: 500;
    color: #444;
    padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .desptn{
	font-size: 13px;
    font-weight: 500;
    color: #444;
    padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .job{
	font-size: 12px;
    color: #777;
    font-weight: 500;
    padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .rating{
	// padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .rating i{
	color: #FFD700;
	display: inline-block;
	font-size: 12px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .button{
    border: none;
    background: #999;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .button:hover{
	text-decoration: none;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .button.contact{
	background-color: #5cb85c;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .button.edit{
	background-color: #286090;
}
#profile-wrapper .banner .profile-summery .info-section{
	height: 100%;
	padding: 20px;
	border-left: none;
}
@media (min-width:768px) {
	#profile-wrapper .banner .profile-summery .info-section{
		height: 100%;
		padding: 20px;
		border-left: 1px solid #ddd;
	}
}
#profile-wrapper .banner .profile-summery .info-section table{
	width: 100%;
	border-collapse: collapse;
}
#profile-wrapper .banner .profile-summery .info-section table tr{
}
#profile-wrapper .banner .profile-summery .info-section table tr td{
	width: 50%;
	text-align: left;
	padding: 3px 0;
}
#profile-wrapper .banner .profile-summery .info-section table tr td.title{
	color: #333;
	font-weight: 500;
}
#profile-wrapper .banner .profile-summery .info-section table tr td.description{
	color: #888;
    font-weight: 500;
    font-size: 13px;
}
#profile-wrapper .banner .profile-summery .info-section .social-media{
	margin-top: 1em;
}
#profile-wrapper .banner .profile-summery .info-section .social-media ul{
	margin: 0;
	padding: 0;
}
#profile-wrapper .banner .profile-summery .info-section .social-media ul li{
	display: inline-block;
}
#profile-wrapper .banner .profile-summery .info-section .social-media ul li a{
	display: inline-block;
	color: #54A7F5;
	padding-right: 20px;
}
#profile-wrapper .main-content{
	margin-top: 1em;
}
#profile-wrapper .main-content .side-nav{
	width: 100%;
	height: auto;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}
#profile-wrapper .main-content .side-nav .title{
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #707676;
}
.content select{
	width: 100%;
	border: 1px solid #e8e8e8;
	height: 3em;
	border-radius: 3px;
	padding: 0 5px;
	font-size: 13px;
}

#profile-wrapper .main-content .side-nav .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
}
#profile-wrapper .main-content .side-nav ul{
	margin: 0;
	padding: 0;
}
#profile-wrapper .main-content .side-nav ul li{
	display: block;
}
#profile-wrapper .main-content .side-nav ul li a{
	display: block;
	font-weight: 500;
	color: #777;
	padding: 15px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
}
#profile-wrapper .main-content .side-nav ul li a:hover{
	background-color: #f7f7f7;
	color: #30455C;
}
#profile-wrapper .main-content .side-nav ul li a.active{
	background-color: #f7f7f7;
}
#profile-wrapper .main-content .side-nav ul li a i{
	display: inline-block;
	padding-right: 5px;
	color: #114E0B;
}
.info-section{
	width: 100%;
	height: auto;
	padding: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}
.info-section .title{
	font-weight: 600;
	padding-bottom: 20px;
}
.info-section .p-title{
	font-weight: 600;
	padding-bottom: 10px;
	font-size: 20px;
}
.info-section ul{
	margin: 0;
	padding: 0;
}
.info-section ul a{
	text-decoration: none;
	color: #333;
}
.info-section ul a:hover{
	text-decoration: none;
}
.info-section ul li{
	display: block;
	border-top: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
	padding: 10px;
}
.info-section ul li.unread{
	background-color: #eee;
}

.info-section ul li a{
    display: block;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
}
.info-section ul li a:hover{
	text-decoration: none;
}
.p-0{
	padding: 0;
}
.info-section .message-name{
	font-weight: 600;
}
.info-section .message-content{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-section .messageContainer{

}
.info-section .messageContainer .back{
    font-weight: 600;
    padding-bottom: 20px;
    display: block;
    font-size: 13px;
}
.info-section .messageContainer .name{
	font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.info-section .messageContainer .subject{
	font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}
.info-section .messageContainer .message{
	margin-bottom: 20px;
	color: #ffffff;
}
.info-section .messageContainer .message .username{
	font-weight: 600;
	font-size: 13px;
	padding-bottom: 10px;
}
.info-section .messageContainer .message .time{
	font-weight: 600;
	font-size: 13px;
	padding-top: 10px;
	float: right;
}
.info-section .messageContainer .message.user{
	padding: 15px;
    background: #fbfbfb;
    color: #333;
    border-radius: 10px;
}
.info-section .messageContainer .message.rating{
	text-align: center;
}
.info-section .messageContainer .message.rating .rating-container .clear-rating{
	display: none;
}
.info-section .messageContainer .message.rating .rating-container .caption{
	display: none;
}
.info-section .messageContainer .message.rating .rating-container .filled-stars{
	text-shadow: none; 
}
.info-section .messageContainer .message.recipiant{
	padding: 15px;
    background: #eee;
    color: #333;
    border-radius: 10px;
}

.info-section .responceContainer{
    margin-top: 80px;

}
.info-section .responceContainer .title{
	padding: 20px 0;
	font-size: 16px;

}
.info-section .responceContainer textarea{
	width: 100%;
	height: 4em;
	border: 1px solid #eee;
	padding: 17px 10px;
}
.info-section .responceContainer button.send{
	display: inline-block;
    margin-top: 20px;
    float: right;
    padding: 9px 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #5cb85c;
}
.info-section .info-wrap{
	margin-bottom: 15px;
}
.info-section .info-wrap .label{
	font-weight: 600;
	font-size: 13px;
	color: #333;
	display: block;
	text-align: left;
	padding: 0 0 5px 0;
}
.info-section .info-wrap .cat-wrap{
	padding-top: 10px;
}
.info-section .info-wrap .cat-wrap span{
	display: inline-block;
	border: 1px solid #eee;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 7px;
    padding: 3px 15px;
}
.info-section .user-info .form-control{
	border: 1px solid #eee;
	border-radius: 0;
	box-shadow: none;
}
.info-section .user-info .form-group.select .form-control.multiselect{
	border: none;
	padding: 0px;
}
.info-section .user-info .form-group.select .form-control .selectize-input{
	border-radius: 0;
    box-shadow: none;
    border-color: #eee;
}
.info-section .user-info{

}
.info-section .message-content span.subject{
	
}
.info-section .message-content span.message{
	font-size: 13px;
	color: #999;
}
.info-section .time{
	text-align: right;
	font-weight: 600;
}
.info-section ul li a:last-child{
  border: none;
}
.info-section ul li a .img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 12em;
}
.info-section ul li a .name{
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}
.info-section ul li a .rate{
  line-height: 1px;
}
.info-section ul li a .rate span{
	display: inline-block;
	color: #FFA500;
}
.info-section ul li a .decription{
  color: #333;
  padding-top: 15px;
}
.info-section ul li a .store{
  margin-top: 10px;
  font-size: 13px;
  color: #333;
}
.info-section ul li a .store span{
    display: inline-block;
}
.info-section ul li a .store:nth-child(1){
  font-weight: 600;
}
.info-section ul li a .store:nth-child(2){
  color: #114E0B;
}

.info-section ul li a .price-wrap{
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  color: #FFA500;
}

.info-section .summery-section{
	border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
.info-section .summery-section:last-child{
	border-bottom: none;
}
.info-section .summery-section .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
}
.info-section .summery-section .content{
}
.info-section .summery-section .content .bubble{
	display: inline-block;
    border: 1px solid rgba(200, 200, 200, 0.4);
    margin-right: 10px;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 12px;
    background-color: #fff;
    cursor: pointer;
}
#profile-wrapper .main-content .extra-section{
	width: 100%;
	height: auto;
	background: transparent;
}
#profile-wrapper .main-content .extra-section .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    color: #666;
}
#profile-wrapper .main-content .extra-section .common-friends{
	padding: 10px 0;
}
#profile-wrapper .main-content .extra-section .common-friends .image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}
#profile-wrapper .main-content .extra-section .common-friends .content{
	float: right;
	width: 170px;
}
#profile-wrapper .main-content .extra-section .common-friends .content .name{
	font-size: 13px;
    font-weight: 500;
    color: #444;
}
#profile-wrapper .main-content .extra-section .common-friends .content .ocupation{
	font-size: 12px;
    color: #777;
    font-weight: 500;
}
#profile-wrapper .main-content .extra-section .common-friends .content a.contact{
	color: #fff;
    background: #5bb75b;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 500;
}
.pt-10{
  padding-top: 10px;
}

.form-group{
  margin-top: 25px;
  margin-bottom: 10px;
}
.form-group:nth-child(1){
  margin-top: 25px;
}
.form-group sub{
  color: #777;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: bold;
}
.form-group .form-label{
  display: block;
  display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px; 
    color: #6D6D6D;
}
.form-group input{
  width: 100%;
    height: 40px;
    font-size: 13px;
    padding: 0 10px;
    border: 1px solid #E7E7E7;
}
.form-group select{
  width: 100%;
    height: 40px;
    font-size: 13px;
    color: #999;
    padding: 0 10px;
    border: 1px solid #E7E7E7;
    background: #ffffff;
}
.form-group textarea{
  width: 100%;
    height: 150px;
    font-size: 13px;
    padding: 10px;
    color: #999;
    padding: 10px;
    border: 1px solid #E7E7E7;
    background: #ffffff;
}
.form-group #categories{
  padding-left: 0;
}
.form-group #categories li{
  display: inline-block!important;
  border: none!important;
  padding: 0!important;
}
.form-group #categories li input{
  display: inline-block;
  display: none;
}
.form-group #categories li label{
  border: 1px solid #ddd;
    padding: 6px 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.form-group #categories li input[type=checkbox]:checked ~ label{
  background-color: #114E0B;
  color: #fff;
}
.no-border{
	border: none!important;
}
.p-0{
	padding: 0!important;
}
.bt-0{
	border-top: 0!important;
}
.tabContent .tab-content{
	margin-left: 1px;
}
.tabContent ul.nav{
	border-bottom: none;
	font-weight: 600;
}
.tabContent ul li a{
	padding: 10px 39px;
}
.tabContent ul li a:hover{
	border: none;
	background-color: transparent;
}
.tabContent .tab-content{
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	padding: 20px;
}

.info-wrap{
	margin-bottom: 15px;
}
.info-wrap .label{
	font-weight: 600;
	font-size: 13px;
	color: #333;
	display: block;
	text-align: left;
	padding: 0 0 5px 0;
}
.info-wrap .cat-wrap{
	padding-top: 10px;
}
.info-wrap .cat-wrap span{
	display: inline-block;
	border: 1px solid #eee;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 7px;
    padding: 3px 15px;
}
.addPic{
    padding: 20px 20px;
    text-align: center;
}
@media (min-width:768px) {
	.addPic{
	    padding: 20px 160px;
	    text-align: center;
	}
}
.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  width: 300px;
  color: #333;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  background-color: #fff;
  margin-bottom: 20px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: #ffffff;
  outline: none;
}

.file-upload-button {
  cursor: pointer;
  display: block;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-left: -1px;
  background-color: #337ab7;
  float: left;
  /* IE 9 Fix */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.file-upload-button:hover {
  background-color: #337ab7;
}
.addPic label{
    font-size: 25px;
    text-align: center;
    display: block;
}
.addPic button{
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  padding: 8px 20px;
  border: none;
  margin-left: -1px;
  background-color: #337ab7;
}
.addPic .safeBtn{
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  padding: 8px 20px;
  border: none;
  margin-left: -1px;
  background-color: #5cb85c;
}
