#signUP{
	// position: fixed;
	width: 100%;
	height: 100%;
	margin-top: 1em;
	padding: 8% 10px;
}
@media (min-width:768px) {
	#signUP{
		width: 100%;
		height: 100%;
		padding: 2% 20% 8% 20%;
	}
}
.signup .signup-wrap{
	background: #ffffff;
    height: auto;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.signup .signup-wrap .form-section{
	height: 100%;
	float: left;
	width: 	100%;
	padding: 30px;
}
.signup .signup-wrap .form-section .form-heading{
	font-size: 22px;
    font-weight: 600;
    color: #333;
}
.signup .signup-wrap .form-section .form-wrap{
	margin-top: 25px;
	margin-bottom: 10px;
}
.signup .signup-wrap .form-section button.login-submit{
	border: none;
    padding: 11px 50px;
    margin-top: 15px;
    background-color: #114E0B;
    color: #ffffff;
    font-weight: 600;
}
.signup .signup-wrap .form-section .form-wrap:nth-child(1){
	margin-top: 25px;
}
.signup .signup-wrap .form-section .form-wrap sub{
	color: #777;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: bold;
}
.signup .signup-wrap .form-section .form-wrap .form-label{
	display: block;
	display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 5px; 
    color: #6D6D6D;
}
.signup .signup-wrap .form-section .form-wrap input{
	width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 0 10px;
    border: 1px solid #E7E7E7;
}
.signup .signup-wrap .form-section .form-wrap select{
	width: 100%;
    height: 40px;
    font-size: 13px;
    color: #999;
    padding: 0 10px;
    border: 1px solid #E7E7E7;
    background: #ffffff;
}
.signup .signup-wrap .form-section .form-wrap textarea{
	width: 100%;
    height: 150px;
    font-size: 13px;
    padding: 10px;
    color: #999;
    padding: 0 10px;
    border: 1px solid #E7E7E7;
    background: #ffffff;
}
.signup .signup-wrap .form-section .form-wrap #categories{
	padding-left: 0;
}
.signup .signup-wrap .form-section .form-wrap #categories li{
	display: inline-block;
}
.signup .signup-wrap .form-section .form-wrap #categories li input{
	display: inline-block;
	display: none;
}
.signup .signup-wrap .form-section .form-wrap #categories li label{
	border: 1px solid #ddd;
    padding: 6px 15px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.signup .signup-wrap .form-section .form-wrap #categories li input[type=checkbox]:checked ~ label{
	background-color: #114E0B;
	color: #fff;
}
.signup .signup-wrap .info-section{
	height: 767px;
	background-color: #114E0B;
	float: right;
	width: 37%;
	padding: 30px;
	color: #ffffff;
}
.signup .signup-wrap .info-section .logo{
  font-family: pacifico, cursive;
  color: #ffffff;
  font-size: 25px;
}
.signup .signup-wrap .info-section .caption{
	font-size: 13px;
    margin-top: 3em;
}
.signup .signup-wrap .info-section .haveAccount{
	font-size: 13px;
    margin-top: 34em;
}
.signup .signup-wrap .info-section .caption p{
}
.signup .signup-wrap .info-section .sign-up{
	color: #ffffff;
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 9px 0px;
    margin-top: 1em;
    width: 100%;
    text-align: center;
}
.signup .social-login{
	margin-top: 1em;
}
.signup .social-login .title{
	text-align: center;
	color: #ffffff;
	padding-bottom: 10px;
	font-weight: 500;
}
.signup .social-login ul{
	text-align: center;
	margin: 0;
	padding: 0;
}
.signup .social-login li{
	display: inline-block;
}
.signup .social-login li a{
	color: #ffffff;
	display: inline-block;
	display: inline-block;
    padding: 10px 15px;
    margin-right: 15px;
}
.signup .social-login li a.facebook{
	background-color: #3b5998;
}
.signup .social-login li a.google{
	background-color: #DD4C3B;
}
.signup .social-login li a.linkedin{
	background-color: #007AB9;
}
.signup .outside-content{
	text-align: center;
	margin-top: 3em;
}
.signup .outside-content ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
.signup .outside-content ul li{
	display: inline-block;
}
.signup .outside-content ul li a{
	color: #ffffff;
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
}

.signup .outside-content ul li a:hover{
	text-decoration: underline;
}

.half{
	width: 100%;
}
.half .form-wrap{
	width: 49%;
}
.half .form-wrap:first-child{
	float: left;
}
.half .form-wrap:last-child{
	float: right;
}
.form-error{
	color: red;
	font-size: 11px;
	font-weight: 600;
}