<!doctype html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/star-rating.min.css') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/slidebars.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font/fonts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

  </head>

  <body id="{% block customID %}{% endblock %}" class="{% block customClass %}{% endblock %}">
    <div id="main" class="clearfix">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="alert alert-fix alert-success alert-dismissible" role="alert">
                          <button type="button" class="close closeAlert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Well done!</strong> {{ message }}.
                        </div>
                    {% else %}
                        <div class="alert alert-fix alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close closeAlert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Oh snap!</strong> {{ message }}.
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% block mobileNav %}
        <!-- <div off-canvas="slidebar1 right reveal ">
            <div class="sidenav hidden-md hidden-lg">
              <a href="javascript:void(0)" class="closebtn openSideBar">&times;</a>
               {% if current_user.is_authenticated %}
                    <a href="{{ url_for('.products') }}">Market Place</a>
                    <a href="{{ url_for('.messages') }}">
                        Messages
                        {% if current_user.unread_count > 0 %}
                            ({{ current_user.unread_count }})
                        {% endif %}
                    </a>
                    <a href="{{ url_for('.noticeboard') }}">
                        Noticeboard {% if current_user.new_notice %} ! {% endif %}
                    </a>
                    <a href="{{ url_for('.wishlist') }}">Wishlist</a>
                    <a href="{{url_for('.logout')}}">Log Out</a>
                    <div class="divider">User Profile</div>
                    <a href="{{ url_for('.home') }}">Home</a>
                    <a href="{{ url_for('.my_products') }}">Products</a>
                    <a href="{{ url_for('.add_product') }}">Add Product</a>
                    <a href="{{ url_for('.messages') }}">Messages</a>
                    <a href="{{ url_for('.edit_profile') }}">Edit Profile</a>
               {% else %}
                   <a href="{{ url_for('.products') }}">Market Place</a>
                   <a href="{{url_for('.login')}}">Login</a>
                   <a href="{{url_for('.signup')}}">Sign Up</a>
               {% endif %}
            </div>
        </div> -->
        <div id="mySidenav" class="sidenav hidden-md hidden-lg">
          <a href="javascript:void(0)" class="closebtn openSideBar" onclick="closeNav()">&times;</a>
               {% if current_user.is_authenticated %}
                    <a href="{{ url_for('.products') }}">Market Place</a>
                    <a href="{{ url_for('.messages') }}">
                        Messages
                        {% if current_user.unread_count > 0 %}
                            ({{ current_user.unread_count }})
                        {% endif %}
                    </a>
                    <a href="{{ url_for('.noticeboard') }}">
                        Noticeboard {% if current_user.new_notice %} ! {% endif %}
                    </a>
                    <a href="{{ url_for('.wishlist') }}">Wishlist</a>
                    <a href="{{url_for('.logout')}}">Log Out</a>
                    <div class="divider">User Profile</div>
                    <a href="{{ url_for('.home') }}">Home</a>
                    <a href="{{ url_for('.my_products') }}">Products</a>
                    <a href="{{ url_for('.add_product') }}">Add Product</a>
                    <a href="{{ url_for('.messages') }}">Messages</a>
                    <a href="{{ url_for('.edit_profile') }}">Edit Profile</a>
               {% else %}
                   <a href="{{ url_for('.products') }}">Market Place</a>
                   <a href="{{url_for('.login')}}">Login</a>
                   <a href="{{url_for('.signup')}}">Sign Up</a>
               {% endif %}
        </div>
        {% endblock %}


        <div canvas="id-3 right reveal" >
            {% block header %}
            <header class="hidden-sm hidden-xs">
                <div class="main-header">
                    <div class="wrapper clearfix">
                       <div class="logo-section">
                            <a href="/"><img src="/static/img/logo.png" alt=""></a>
                        </div>
                        <div class="account-section clearfix">
                            <ul>
                                {% if current_user.is_authenticated %}
                                <li><a class="{% if request.path == '/home'%}active{% endif%}" href="{{ url_for('.home') }}">Home</a></li>
                                {% endif %}
                                <li><a class="{% if request.path == '/products'%}active{% endif%}" href="{{ url_for('.products') }}">Market Place</a></li>
                                {% if current_user.is_authenticated %}
                                <li><a class="{% if request.path == '/messages'%}active{% endif%}" href="{{ url_for('.messages') }}">
                                        Messages
                                    {% if current_user.unread_count > 0 %}
                                        ({{ current_user.unread_count }})
                                    {% endif %}
                                </a> </li>
                                <li><a class="{% if request.path == '/noticeboard' %}active{% endif%}" href="{{ url_for('.noticeboard') }}">
                                    Noticeboard {% if current_user.new_notice %} <span style="color: red;">!</span> {% endif %}
                                </a></li>
                                <li><a class="{% if request.path == '/wishlist'%}active{% endif%} {% if request.path == '/wishlist/add-item'%}active{% endif%}" href="{{ url_for('.wishlist') }}">Wishlist</a> </li>
                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                <li><a class="{% if request.path == '/login'%}active{% endif%}" href="{{url_for('.login')}}">Login</a></li>
                                <li><a class="{% if request.path == '/signup'%}active{% endif%}" href="{{url_for('.signup')}}">Sign Up</a></li>
                                {% else %}
                                <li><a href="{{url_for('.logout')}}">Log Out</a></li>
                                {% endif %}
                            </ul>
                        </div> 
                    </div>
                </div>
            </header>
            {% endblock %}

            {% block mobileHeader %}
            <header class="hidden-md hidden-lg mobileHeader">
                <div class="mobile-header">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <div class="bugger" onclick="openNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
            </header>
            {% endblock %}



            {% block body %} {% endblock %}


    {% block footer %}
    <div class="clearfix"></div>
        <footer>
            <div class="sub-footer" style="text-align: left;">
                <div class="container">
                    <ul>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('.home') }}">Home</a></li>
                            <li><a href="{{ url_for('.products') }}">Market Place</a></li>
                            <li><a href="{{url_for('.logout')}}">Log Out</a></li>
                       {% else %}
                           <li><a href="{{ url_for('.products') }}">Market Place</a></li>
                           <li><a href="{{url_for('.login')}}">Login</a></li>
                           <li><a href="{{url_for('.signup')}}">Sign Up</a></li>
                       {% endif %}
                        <li>&copy; <script>document.write(new Date().getFullYear())</script> theAgricStore.com</li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}


    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectize.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/star-rating.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/slidebars.min.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>
