{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Add New Wishlist Item{% endblock %}

{% block body %}
<!--     <div>
        <form action="" method="post">
            {{ form.errors }}<br/>
            {{ form.csrf_token }}
            Product Name: {{ form.product_name() }}<br/>
            Description: <br/>
            <textarea name="description">

            </textarea><br/><br/>
            Preferred Location: {{ form.preferred_location() }}<br/>
            <input type="submit" value="Add Item"/>
        </form>
    </div> -->


    <div id="main" class="wrapper">
        <div class="noticeArchives">
           <div class="title"> <span><i class="fa fa-heart" aria-hidden="true"></i></span> Add Wishlist</div> 
        
        <div>
       <!--  <form action="" method="post">
            {{ form.errors }}<br/>
            {{ form.csrf_token }}
            Product Name: {{ form.product_name() }}<br/>
            Description: <br/>
            <textarea name="description">

            </textarea><br/><br/>
            Preferred Location: {{ form.preferred_location() }}<br/>
            <input type="submit" value="Add Item"/>
        </form> -->
        <div class="user-info">
               <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="user-info">
                       <form action="" method="post">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Name</label>
                                {{ form.product_name(placeholder="PRODUCT NAME") }}
                                {% if form.product_name.errors %}
                                    <div class="form-error">{{ form.product_name.errors }}</div>
                                {% endif %}
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Preferred Location</label>
                                {{ form.preferred_location() }}
                                {% if form.preferred_location.errors %}
                                    <div class="form-error">{{ form.preferred_location.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                {{ form.description() }}
                                {% if form.description.errors %}
                                    <div class="form-error">{{ form.description.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <button style="margin-left: 15px;" type="submit" class="btn btn-success">Add Item</button>
                        </form>

                    </div>
                </form>
            </div>
    </div>
            

        </div>
    </div>
{% endblock %}