{% extends "marketplace/profile-layout.html" %}

{% block title %}Marketplace :: Home Page{% endblock %}

{% block profilePages %}
    <div class="col-md-9 p-0 ">
        <div class="col-md-9 p-0 ">
            <form action="" method="post" enctype="multipart/form-data">    
            <div class="info-section">
                <div class="p-title">Add Product</div>
                <div class="user-info">
                    <form action="" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                        <div class="form-group addProd">
                            <label for="exampleInputEmail1">Product Name</label>
                            {{ form.product_name() }}
                            <div class="form-error">{{ form.product_name.errors }}</div>
                        </div>
                        <div class="form-group addProd">
                            <label for="exampleInputEmail1">Price</label>
                            {{ form.price() }} per {{ form.measure() }}
                            <div class="form-error">{{ form.product_name.errors }}</div>
                        </div>
                        <div class="form-group addProd">
                            <label for="exampleInputEmail1">Description</label>
                            {{ form.description() }}
                            <div class="form-error">{{ form.description.errors }}</div>
                        </div>
                        <div class="form-group categories">
                            <span class="form-label">Categories</span>
                            <sub>Select applicable category</sub>
                            {{ form.category }}
                            <div class="form-error">{{ form.category.errors }}</div>
                        </div>
                        <div class="form-group addProd">
                            <label for="exampleInputFile">Picture 1</label>
                            {{ form.picture1(class="no-border p-0") }}
                            <div class="form-error">{{ form.picture1.errors }}</div>
                        </div>
                        <div class="form-group addProd">
                            <label for="exampleInputFile">Picture 2</label>
                            {{ form.picture2(class="no-border p-0") }}
                            <div class="form-error">{{ form.picture2.errors }}</div>
                        </div>
                        <div class="form-group addProd">
                            <label for="exampleInputFile">Picture 3</label>
                            {{ form.picture3(class="no-border p-0") }}
                            <div class="form-error">{{ form.picture3.errors }}</div>
                        </div>
                        <div class="form-group addProd">
                            <label for="exampleInputFile">Picture 4</label>
                            {{ form.picture4(class="no-border p-0") }}
                            <div class="form-error">{{ form.picture4.errors }}</div>
                        </div>

                      
                      <button type="submit" class="btn btn-default">Save</button>
                    </form>

                </div>
                <div class="farmer-info">
                                
                </div>
            </div>
        </div>
    </div>
{% endblock %}

