{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Change Password{% endblock %}

{% block body %}
    <div>
        <form action="" method="post">
            {{ form.errors }}<br/>
            {{ form.csrf_token }}
            Password: {{ form.password() }}<br/>
            Confirm Password: {{ form.confirm_password() }}<br/>
            <input type="submit" value="Change Password"/>
        </form>
    </div>
{% endblock %}