{% extends "marketplace/profile-layout.html" %}

{% block title %}Marketplace :: Messages{% endblock %}
{% block conversation %}active{% endblock %}

{% block profilePages %}
    <div class="col-md-9 p-0 ">
        <div class="info-section">
            <div class="messageContainer">
            {% for msg in thread.msgs %}
                <!-- <div class="name">Adewale Akande</div> -->
                {% if msg.sender_id == current_user.id %}

                    <div class="message user clearfix">
                        <div class="username">You said</div>
                        <div>
                            {{ msg.message }}
                        </div>
                        <div class="time">{{ msg.date_created }}</div>
                    </div>

                {% else %}

                    <div class="message recipiant clearfix">
                        <div class="username"><a href="{{ url_for('.profile', userid=msg.sender_id) }}">{{ msg.sender }}</a></div>
                        <div>
                           {{ msg.message }}
                        </div>
                        <div class="time">{{ msg.date_created }}</div>
                    </div>

                {% endif %}
            {% endfor %}
            </div>

            <div class="responceContainer clearfix">
                <form action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.message(placeholder="Type in your reponse") }}
                    <button type="submit" class="send"><i class="fa fa-send" aria-hidden="true"></i> Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

