{% extends "marketplace/profile-layout.html" %}

{% block title %}Marketplace :: Home Page{% endblock %}

{% block profilePages %}
    <div class="col-md-9 p-0 ">
        <div class="info-section">
            <div class="user-info">
                <div class="info-wrap">
                    <div class="label">Full Name</div>
                    <div class="info">{{ current_user.full_name }}</div>
                </div>
                <div class="info-wrap">
                    <div class="label">User Name</div>
                    <div class="info">{{ current_user.username }}</div>
                </div>  
                <div class="info-wrap">
                    <div class="label">Email</div>
                    <div class="info">{{ current_user.email }}</div>
                </div>
            </div>
            {% if current_user.is_farmer() %}
            <div class="farmer-info">
                <div class="info-wrap">
                    <div class="label">Farm Name</div>
                    <div class="info">{{ current_user.farm }}</div>
                </div>  
                <div class="info-wrap">
                    <div class="label">Categories</div>
                    <div class="cat-wrap">
                        {% for cat in current_user.farm.categories %}
                            <span>{{ cat }}</span>
                        {% endfor %}
                    </div>
                </div>    
                <div class="info-wrap">
                    <div class="label">Expertise</div>
                    <div class="info">{{ current_user.farm.expertise }}</div>
                </div>
                <div class="info-wrap">
                    <div class="label">Years of Experience</div>
                    <div class="info">{{ current_user.farm.years_active }}</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

