{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Index Page{% endblock %}

{% block body %}
    <div class="clearfix">
        <div class="static-banner" style="background-image: url('/static/img/backgrond.jpeg')">
            <div class="overlay">
                <div class="title">Search Farmers By Location</div>
                <div class="search-wrap clearfix">
                    <form action="{{ url_for('.products') }}" method="get" class="clearfix">
                        <div class="col-md-5">
                            <div class="search-input clearfix">
                                <span class="icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                                <input type="search" name="keyword" placeholder="Search Products">
                            </div>
                        </div>
                        <div class="clearfix hidden-md hidden-lg"></div>
                        <div class="col-md-4">
                            <div class="states-wrap">
                                <select name="state">
                                    {% for state in states %}
                                    <option value="{{ state.id }}">{{state.state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="search">Search</button>
                        </div>
                    </form>
                </div>
                <div class="caption">Get varieties of farm products, and connect with various farmers from all over</div>
            </div>
        </div>
        <section class="cat-wrap clearfix wrapper">
            <div class="section-divider wrapper">
                <div class="heading">Featured Categories</div>
                <div class="caption">Check Out Awesome Categories</div>
            </div>
        <div class="clearfix">
        {% for cat in cats %}
            <div class="col-md-2 col-sm-6 col-xs-6">
                <a href="{{ url_for('.products', category=cat.id) }}">
                    <div class="cat clearfix">
                        <div class="text">{{cat.category}}</div>
                        <div class="img" style="background-image: url('/static/img/{{cat.image}}');"></div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
        </section>
        <section class="categories clearfix wrapper">
            <div class="col-md-4">
                <div class="farmer-wrap">
                    <div class="heading clearfix">
                        <div class="img">
                            <div class="d-img" style="background-image: url('/static/img/farmer3.jpg')"></div>
                        </div>
                        <div class="description">
                            <div class="caption"><a href="#">Farm Machinaries</a></div>
                            <div class="location">
                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="location">Lagos</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#" style="background-image:url('/static/img/farmerE.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/jjj.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/Farming-Small.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/mechanised-farming.jpg');"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="farmer-wrap">
                    <div class="heading clearfix">
                        <div class="img">
                            <div class="d-img" style="background-image: url('/static/img/farmer.jpg')"></div>
                        </div>
                        <div class="description">
                            <div class="caption"><a href="#">Adewala Snail Farm</a></div>
                            <div class="location">
                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="location">Lagos</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#" style="background-image:url('/static/img/snail1.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/snail2.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/snail3.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/snail4.jpg');"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="farmer-wrap">
                    <div class="heading clearfix">
                        <div class="img">
                            <div class="d-img" style="background-image: url('/static/img/farmer2.jpg')"></div>
                        </div>
                        <div class="description">
                            <div class="caption"><a href="#">Denil LifeStock</a></div>
                            <div class="location">
                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="location">Abeokuta</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <a href="#" style="background-image:url('/static/img/cow.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/pig.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/chicken.jpg');"></a>
                        <a href="#" style="background-image:url('/static/img/Fish.jpg');"></a>
                    </div>
                </div>
            </div>
        </section>
        <div class="section-divider wrapper">
            <div class="heading">Featured Farm Products</div>
            <div class="caption">Check Out New Products</div>
        </div>
        <div class="four-child clearfix wrapper">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="ImgItem" style="background-image: url('/static/img/t8.jpg')">
                        <div class="overlay">
                            <div>Up to 75% Off:</div>
                            <div>Farm Products</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="ImgItem" style="background-image: url('/static/img/g5.jpg')">
                        <div class="overlay">
                            <div>Up to 75% Off:</div>
                            <div>Farm Products</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="ImgItem" style="background-image: url('/static/img/agricultureweb.jpg')">
                        <div class="overlay">
                            <div>Up to 75% Off:</div>
                            <div>Kitchen Essentials</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="ImgItem" style="background-image: url('/static/img/photo.jpg')">
                        <div class="overlay">
                            <div>Up to 75% Off:</div>
                            <div>Kitchen Essentials</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}