{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Login Page{% endblock %}
{% block customID %}login{% endblock %}
{% block mobileHeader %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
    <!-- <form action="" method="post">
        {{ form.errors }}<br/>
        {{ form.csrf_token }}
        Username: {{ form.username() }}<br/>
        Password: {{ form.password() }}<br/>
        <input type="submit" value="Login"/>
    </form>
    <hr/>
    <p>
        Forgot your password? Click <a href="{{ url_for('.reset_password') }}">here</a>
    </p> -->


    <div id="main">

        <div>
            <div class="login-wrap">
                <div class="form-section">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="form-heading">Login</div>
                        <div class="form-wrap">
                            <span class="form-label">Username</span>
                            {{ form.username(placeholder="YOUR EMAIL ADRESS") }}
                            {% if form.username.errors %}
                                <div class="form-error">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">Password</span>
                            {{ form.password(placeholder="ENTER VALID PASSWORD") }}
                            {% if form.password.errors %}
                                <div class="form-error">{{ form.password.errors }}</div>
                            {% endif %}
                        </div>
                        <button data-rippleria class="login-submit btn-shadow" type="submit">Login</button>
                    </form>
                </div>
            </div>
            <!-- <div class="social-login">
                <div class="title">Log in with</div>
                <ul>
                    <li><a data-rippleria class="facebook btn-shadow" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a data-rippleria class="google btn-shadow" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a data-rippleria class="linkedin btn-shadow" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div> -->
            <div class="outside-content">
                <ul>
                    <li><a href="{{ url_for('.reset_password') }}"> <strong>Forgot your password?</strong> </a></li>
                    <li><a href="{{url_for('.signup')}}"> <strong>Sign Up</strong> </a></li>
                    <li><a href="/"> <strong>Back to theagricstore.com</strong> </a></li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}