{% extends "marketplace/profile-layout.html" %}

{% block title %}Marketplace :: Messages{% endblock %}

{% block profilePages %}
    <div class="col-md-9 p-0 ">
        <div class="info-section">
            <div>
                {% if current_user.msgThreads %}
                    <div class="title">
                        Messages            
                    </div>
                    <ul>
                        {% for thread in current_user.msgThreads %}
                        {% set lastmsg = thread.get_last_msg() %}
                        <a href="{{ url_for('.conversation', thread_id=thread.urid) }}">
                            <li class="clearfix unread">
                                <div class="col-md-3 p-0">
                                    <div class="message-name">
                                        {% if thread.sender_id == current_user.id %}
                                            {{ thread.receiver }}
                                        {% else %}
                                            {{ lastmsg.message }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-7 p-0">
                                    <div class="message-content">
                                        <span class="message">
                                            {{ lastmsg.message }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 p-0">
                                    <div class="time">
                                        7:45am
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="noItems">
                        <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="message">You have no messages...</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

