{% extends "marketplace/home.html" %}

{% block title %}Marketplace :: My Products{% endblock %}

    <!-- <div>
        {% if current_user.farm.products %}
            <ul>
                {% for prod in current_user.farm.products %}
                    <li><a href="{{ url_for('.view_product', prod_id=prod.id) }}">{{ prod.product_name }}</a>
                    <br/>
                    <h6><a href="{{ url_for('.delete_product', prod_id=prod.id) }}">Delete {{ prod.product_name }}</a></h6>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have not uploaded any products...</p>
        {% endif %}
        <hr/>
        <a href="{{ url_for('.add_product') }}">Add Product</a>
    </div> -->

{% block profilePages %}
<div class="col-md-9 p-0 ">
    <div class="info-section clearfix">
    <a href="{{ url_for('.add_product') }}" type="button" class="btn btn-success pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</a>
    <div class="clearfix"></div><br>
    {% if current_user.farm.products %}
        <ul>
            {% for prod in current_user.farm.products %}
            <li class="bt-0">
                <a href="{{url_for('.view_product', prod_id = prod.id)}}" class="clearfix">
                    <div class="col-md-3 p-0">
                        <div class="img" style="background-image: url('{{ url_for('static', filename='uploads/'+prod.cover_picture()) }}')"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="name">
                            
                            <div class="pull-left name">{{ prod }}</div>
                            <div class="price-wrap pull-right">
                                ₦{{ prod.price }} <span class="measure">per {{ prod.measure.measure }}</span>
                            </div>

                        </div>
                        
                        <span>
                            {% if prod.farm.get_rating %}
                                <sub>{{ prod.farm.get_formatted_rating() }}</sub>
                            {% else %}
                                <sub>Not yet rated</sub>
                            {% endif %}
                        </span>
                        <div class="decription">
                            {{prod.description}}
                        </div>
                        <div class="store">
                            <span>Sold by:</span> <span>{{ prod.farm }}</span>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="noItems">
            <div class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
            <div class="message">You have not uploaded any products...</div>
            <a class="actionBtn" href="{{ url_for('.add_product') }}">Add Product</a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}