{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Noticeboard{% endblock %}
{% block customClass %} white {% endblock %}

{% block body %}
 


     <div id="main" class="wrapper clearfix">
        {% if notice %}
             <table>
                 <tr>
                     <td class="border-right fix-left-width">
                        <div class="noticeboardWrap">
                            <div class="noticeboard">
                                <div class="title">{{ notice.title }}</div>
                                <div class="date">{{ notice.date_posted }}</div>
                                <div class="content">
                                    {{ notice.notice }}
                                </div>
                            </div>
                        </div>
                     </td>
                     <td>
                     {% if noticelist %}
                        <div class="sideInfoWrap">
                            <div class="title">
                                Resent Post
                            </div>
                            {% for note in noticelist %}
                            <a href="{{ url_for('.notice_view', notice_id=note.id) }}">
                                <div class="sideInfo">
                                    <div class="title">{{ note.title }}</div>
                                    <div class="time">{{ note.date_posted }}</div>
                                    <div class="content">{{ note.notice[0:30] }}</div>
                                </div>
                            </a>
                            {% endfor %}
                            <div class="viewAll">
                                <a href="{{ url_for('.notice_archive') }}">View All Notices</a>
                            </div>
                        </div>
                     </td>
                     {% endif %}
                 </tr>
             </table>
        {% else %}
            <div class="noItems">
                <div class="icon"><i class="fa fa-bell-slash" aria-hidden="true"></i></div>
                <div class="message">There are no notices to display...</div>
                <!-- <a class="actionBtn" href="">Add Product</a> -->
            </div>
         {% endif %}
     </div>
{% endblock %}