{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Noticeboard Archive{% endblock %}

{% block body %}
<!--     {% for notice in noticelist %}
        <div style="border: 1px solid grey; width: 500px; padding: 10px;" >
            <span><b><a href="{{ url_for('.notice_view', notice_id=notice.id) }}">{{ notice }}</a></b></span>
            <br/>
            <br/>
            <p>{{ notice.notice[0:20] }}...</p>
            <br/>
        </div>
        <br/>
    {% endfor %} -->

    <div id="main" class="wrapper">
        <div class="noticeArchives">
           <div class="title"> <span><i class="fa fa-bell" aria-hidden="true"></i></span> Notifications</div> 
            
            {% if notice %}
                {% for notice in noticelist %} 
                   <div class="notificationWrap">
                       <ul>
                           <li>
                               <a href="" class="clearfix">
                                   <div class="noticeArchivesTitle">{{ notice }}</div>
                                   <div class="content">{{ notice.notice}}</div>
                                   <span class="time">{{notice.date_posted}}</span>
                               </a>
                           </li>
                       </ul>
                   </div>
                {% endfor %}

            {% else %}
                <div class="noItems">
                    <div class="icon"><i class="fa fa-bell-slash" aria-hidden="true"></i></div>
                    <div class="message">There are no notices to display...</div>
                    <!-- <a class="actionBtn" href="">Add Product</a> -->
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}