{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace{% endblock %}

{% block body %}
    <form action="" method="GET">
    <div class="clearfix wrapper">
        <div class="col-md-12">
            <div class="d-search-wrap clearfix box-shadow">
               <section class="search-widget">
                    <div class="search-wrap clearfix">
                        <div class="search-input clearfix">
                            <span class="icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="search" name="keyword" placeholder="Search Products"
                                  {% if request.args.get('keyword') %}
                                    value="{{ request.args.get('keyword') }}"
                                  {% endif %}
                                    >
                        </div>
                        <div class="states-wrap">
                            <select name="state">
                                {% for state in states %}
                                    {% if state.id|string == request.args.get('state') %}
                                        <option value="{{ state.id }}" selected>{{ state }}</option>
                                    {% else %}
                                        <option value="{{ state.id }}">{{ state }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <button class="search" type="">Search</button>
                    </div>
                </section> 
            </div>
        </div>
        <div class="cleafix"></div>
        <div class="clearfix">
            <div class="col-md-3 mt-20 pr-5 mt-10 hidden-sm hidden-xs">
                <div class="filter-section box-shadow">
                    <div class="d-filter-wrap">
                        <div class="title">Sort by:</div>
                        <div class="content">
                            <select name="sort">
                                {% for value, label in form_sort %}
                                    {% if value|string == request.args.get('sort') %}
                                        <option value="{{ value }}" selected>{{ label }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-filter-wrap">
                        <div class="title">Category Filter:</div>
                        <div class="content">
                            {% for cat in cats %}
                            <div class="checkbox">
                                <label>
                                  {% if cat.id|string in request.args.getlist('category') %}
                                  <input name="category" value="{{ cat.id }}" type="checkbox" checked> {{cat.category}}
                                  {% else %}
                                  <input name="category" value="{{ cat.id }}" type="checkbox"> {{cat.category}}
                                  {% endif %}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--  For mobile view Only -->
            <button type="button" class="hidden-md hidden-lg show-filter" data-toggle="collapse" data-target="#filter"><i class="fa fa-filter" aria-hidden="true"></i> Show Filter</button>
             <div class="col-md-3 mt-20 pr-5 mt-10 hidden-md hidden-lg collapse" id="filter">
                 <div class="filter-section box-shadow">
                     <div class="d-filter-wrap">
                         <div class="title">Sort by:</div>
                         <div class="content">
                             <select name="sort">
                                 {% for value, label in form_sort %}
                                    {% if value|string == request.args.get('sort') %}
                                        <option value="{{ value }}" selected>{{ label }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endif %}
                                {% endfor %}
                             </select>
                         </div>
                     </div>
                     <div class="d-filter-wrap">
                         <div class="title">Category Filter:</div>
                         <div class="content">
                             {% for cat in cats %}
                             <div class="checkbox">
                                 {% if cat.id|string in request.args.getlist('category') %}
                                  <input name="category" value="{{ cat.id }}" type="checkbox" checked> {{cat.category}}
                                  {% else %}
                                  <input name="category" value="{{ cat.id }}" type="checkbox"> {{cat.category}}
                                  {% endif %}
                             </div>
                             {% endfor %}
                         </div>
                     </div>
                 </div>
             </div>
            <div class="col-md-9 mt-20 mt-10">
                <div class="product-section box-shadow">
                    <ul>
                    {% if prods.items %}
                        {% for prod in prods.items %}
                            <li>
                                <a href="{{url_for('.view_product', prod_id = prod.id)}}" class="clearfix">
                                    <div class="col-md-3 p-0">
                                        <div class="img" style="background-image: url('{{ url_for('static', filename='uploads/'+prod.cover_picture()) }}')"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="name-wrap clearfix">
                                            <div class="pull-left name">{{ prod }}</div>
                                            <div class="price-wrap pull-right">
                                                ₦{{ prod.price }} <span class="measure">per {{ prod.measure.measure }}</span>
                                            </div>

                                        </div>
                                        <span>
                                            {% if prod.farm.get_rating %}
                                                <sub style="color: orange;">{{ prod.farm.get_formatted_rating() }}</sub>
                                            {% endif %}
                                        </span>
                                        <div class="decription">
                                            {{ prod.description }}
                                        </div>
                                        <div class="store">
                                            <span>Sold by:</span> <span>{{ prod.farm.farm_name }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="noItems">
                            <div class="icon"><i class="fa fa-frown-o" aria-hidden="true"></i></div>
                            <div class="message">There are no products to display...</div>
                        </div>
                    {% endif %}
                    </ul>
                </div>
                {% if prods %}
                <nav aria-label="Page navigation">
                  <ul class="pagination pull-right">
                    {% if prods.has_prev %}
                        <li>
                            <a href="{{ url_for('.products', page=prods.prev_num) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if prods.page - 2 > 0 %}
                        <li>
                            <a href="{{ url_for('.products', page=prods.page - 2) }}">
                                <span aria-hidden="true">{{ prods.page - 2 }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if prods.has_prev %}
                        <li>
                            <a href="{{ url_for('.products', page=prods.prev_num) }}">
                                <span aria-hidden="true">{{ prods.prev_num }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if prods.items %}
                        <li class="active"><a href="#">{{ prods.page }}</a></li>
                    {% endif %}
                    {% if prods.has_next %}
                        <li>
                            <a href="{{ url_for('.products', page=prods.next_num) }}">
                                <span aria-hidden="true">{{ prods.next_num }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if prods.page + 2 <= prods.pages %}
                        <li>
                            <a href="{{ url_for('.products', page=prods.page + 2) }}">
                                <span aria-hidden="true">{{ prods.page + 2 }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if prods.has_next %}
                        <li>
                            <a href="{{ url_for('.products', page=prods.next_num) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}

                  </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
    </form>
{% endblock %}