{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Home Page{% endblock %}

{% block body %}
    <div id="main" class="wrapper">

        <div id="profile-wrapper">
            <div class="banner">
                <div class="main-wrapper">
                    <div class="profile-summery clearfix">
                        <div class="col-md-8">
                            <div class="profile-image-section clearfix">
                                <div class="profile-image" style="background-image: url('{{ current_user.get_avatar }}')">
                                    <a href="{{url_for('.upload_avatar')}}" class="change">Change</a>
                                </div>
                                <div class="description">
                                    <div class="name">{{ current_user.full_name }}</div>
                                    {% if current_user.is_farmer() %}
                                        <div class="job">{{ current_user.farm }}</div>
                                        {% if current_user.farm.get_rating %}
                                            <div class="rating">
                                                {{ current_user.farm.get_formatted_rating() }}
                                            </div>
                                        {% endif %}
                                        <a class="button edit" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if current_user.is_farmer() %}
                        <div class="col-md-4">
                            <div class="info-section">
                                <table>
                                    <tr>
                                        <td class="title">Expertise:</td>
                                        <td class="description">{{ current_user.farm.expertise }}</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Location:</td>
                                        <td class="description">{{ current_user.farm.state.state }}</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Years of experience:</td>
                                        <td class="description">{{ current_user.farm.years_active }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="main-content main-wrapper clearfix">
                <div class="col-md-3 pl-0 hidden-sm hidden-xs">
                    <div class="side-nav">
                        <ul>
                            <li>
                                <a class="{% if request.path == '/home'%}active{% endif%}" href="{{url_for('.home')}}">
                                    <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <span class="text">Profile</span>
                                </a>
                                <a class="{% if request.path == '/my-products'%}active{% endif%} {% if request.path == '/add-product'%}active{% endif%}" href="{{url_for('.my_products')}}">
                                    <span class="icon"><i class="fa fa-gift" aria-hidden="true"></i></i></span>
                                    <span class="text">Products</span>
                                </a>
                                <a class="{% if request.path == '/messages'%}active{% endif%} {% block conversation %} {% endblock %}" href="{{url_for('.messages')}}">
                                    <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <span class="text">Messages</span>
                                </a>
                                <a class="{% if request.path == '/rating'%}active{% endif%}" href="{{url_for('.rating')}}">
                                    <span class="icon"><i class="fa fa-star" aria-hidden="true"></i></span>
                                    <span class="text">Rating</span>
                                </a>
                                <a class="{% if request.path == '/edit-profile'%}active{% endif%}" href="{{url_for('.edit_profile')}}">
                                    <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                                    <span class="text">Edit Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% block profilePages %}
                
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}