{% extends "marketplace/profile-layout.html" %}

{% block title %}Marketplace :: Edit Profile{% endblock %}

{% block profilePages %}
    <div class="col-md-9 p-0 ">
        <div class="info-section">
            <div class="user-info">
               <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" class="form-control" name="full_name" value="{{ current_user.full_name }}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">User Name</label>
                    <input type="text" class="form-control" name="username" placeholder="User Name" value="{{ current_user.username }}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{ current_user.email }}">
                  </div>
                   <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="text" class="form-control" name="phone" placeholder="Phone" value="{{ current_user.phone_number }}">
                  </div>
                   <div class="form-group">
                    <label for="exampleInputPassword1">Gender</label>
                    <select name="gender">
                        <option value="Male" {% if current_user.gender == 'Male' %} selected {% endif %}>Male</option>
                        <option value="Female" {% if current_user.gender == 'Female' %} selected {% endif %}>Female</option>
                    </select>
                  </div>
                  {% if current_user.user_type == 0 %}
                  <div class="extra" style="display: none;">
                  {% else %}
                  <div class="extra">
                  {% endif %}
                      <div class="form-group">
                        <label for="exampleInputPassword1">Farm Name</label>
                        <input type="text" class="form-control" placeholder="Farm Name" name="farm_name"
                           {% if current_user.farm %} value="{{ current_user.farm.farm_name }}" {% endif %} />
                      </div>
                      <div class="form-group select">
                        <label for="exampleInputPassword1">Farm Profile</label>
                        <textarea name="farm_profile">{{ current_user.farm.farm_profile }}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Farm Location</label>
                        <select name="state">
                            {% for state in states %}
                                {% if current_user.farm %}
                                    <option value="{{ state.id }}" {% if current_user.farm.location_state == state.id %}
                                        selected {% endif %}>{{ state.state }}</option>
                                {% else %}
                                    <option value="{{ state.id }}" >{{ state.state }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Expertise</label>
                        <input type="text" class="form-control" placeholder="Expertise" name="expertise"
                           {% if current_user.farm %} value="{{ current_user.farm.expertise }}" {% endif %} />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Years of Experience</label>
                        <input type="text" class="form-control" placeholder="Years of Experience" name="years_active"
                           {% if current_user.farm %} value="{{ current_user.farm.years_active }}" {% endif %} />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Categories</label>
                        <ul id="categories">
                            {% for cat in cats %}
                                <li><input name="categories" type="checkbox" value="{{ cat.id }}"
                                    {% if cat in current_user.farm.categories %} checked {% endif %}
                                        />
                                    <label>{{ cat.category }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-default">Save</button>
                </form>

            </div>
            <div class="farmer-info">
                            
            </div>
        </div>
    </div>
{% endblock %}

