{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: {{ user }}{% endblock %}

{% block body %}
    <div id="main" class="wrapper">

        <div id="profile-wrapper">
            <div class="banner">
                <div class="main-wrapper">
                    <div class="profile-summery clearfix">
                        <div class="col-md-8">
                            <div class="profile-image-section clearfix" style=" border-right: 1px solid #ddd;">
                                <div class="profile-image" style="background-image: url('/static/img/farmer.jpg')"></div>
                                <div class="description">
                                    <div class="name">{{ user.farm.farm_name }}</div>
                                    <div class="desptn">{{ user.farm.farm_profile }}</div>
                                    <div class="info-wrap">
                                        <div class="cat-wrap">
                                            {% for c in user.farm.categories %}
                                                <span>{{ c.category }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="job">
                                        {% if user.is_verified() %}
                                            <b>Verified</b>
                                        {% endif %}
                                    </div>
                                    {% if user.farm.get_rating %}
                                        <div class="rating">
                                            {{ user.farm.get_formatted_rating() }}
                                        </div>
                                    {% endif %}
                                    <a class="button edit" href="{{ url_for('.report_user', user_id=user.id) }}">Report User</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info-section" style="border: none;">
                                <table style="margin-top: 0;">
                                    <tr>
                                        <td class="title">Gender:</td>
                                        <td class="description">{{ user.gender }}</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Phone Number::</td>
                                        <td class="description">{{ user.phone_number }}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td class="title">Birthday:</td>
                                        <td class="description">{{ user.date_of_birth }}</td>
                                    </tr> -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content main-wrapper clearfix">
                <div class="tabContent">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation active"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
                    <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="products">
                    {% if user.farm.products %}
                        <div class="product-section ">
                            <ul>
                                {% for prod in user.farm.products %}
                                    <li>
                                        <a href="{{url_for('.view_product', prod_id = prod.id)}}" class="clearfix">
                                            <div class="col-md-3 p-0">
                                                <div class="img" style="background-image: url('{{ url_for('static', filename='uploads/'+prod.cover_picture()) }}')"></div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="name-wrap">
                                                    <div class="pull-left name">{{ prod }}</div>
                                                    <div class="price-wrap pull-right">
                                                        ₦{{ prod.price }} <span class="measure">per {{ prod.measure.measure }}</span>
                                                    </div>
                                                </div>
                                                <span>
                                                    {% if prod.farm.get_rating %}
                                                        <sub>{{ prod.farm.get_formatted_rating() }}</sub>
                                                    {% endif %}
                                                </span>
                                                <div class="decription">
                                                    {{ prod.description }}
                                                </div>
                                                <div class="store">
                                                    <span>Sold by:</span> <span>{{ prod.farm.farm_name }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="reviews">
                        <div class="info-section" style="box-shadow: none;">
                            <h4>Reviews:</h4>
                            <!-- {% if user.farm.reviews %}
                                {% for review in user.farm.reviews %}
                                    <div style="border: 1px solid grey; width: 500px; padding: 10px;">
                                        <span><b><a href="{{ url_for('.profile', userid=review.user_id) }}">{{ review.reviewer }}</a></b></span>
                                        <sub>
                                            {% set max = review.rating.rating %}
                                            {% for x in range(0, 5) %}
                                                {% if max > 0 %}
                                                    +
                                                    {% set max = max - 1 %}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endfor %}
                                        </sub><br/>
                                        {{ review.review }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                There are no reviews to display...
                            {% endif %}

                            {% if not review_check %}
                                <hr/>
                                <form action="" method="post">
                                    {{ form.errors }}<br/>
                                    {{ form.csrf_token }}
                                    Review: {{ form.review() }}<br/>
                                    Rating: {{ form.rating() }}<br/>
                                    <input type="submit">
                                </form>
                            {% endif %}
                        </div> -->


                        {% if user.farm.reviews %}
                        <div class="messageContainer">
                            {% for review in user.farm.reviews %}
                                <div style="border: 1px solid grey; width: 500px; padding: 10px;">
                                    <span><b><a href="{{ url_for('.profile', userid=review.user_id) }}">{{ review.reviewer }}</a></b></span>
                                    <sub>
                                        {% set max = review.rating.rating %}
                                        {% for x in range(0, 5) %}
                                            {% if max > 0 %}
                                                +
                                                {% set max = max - 1 %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </sub><br/>
                                    {{ review.review }}
                                </div>
                            {% endfor %}
                            {% else %}
                            <div class="noItems" style="margin-bottom: 0">
                                <div class="icon"><i class="fa fa-frown-o" aria-hidden="true"></i></div>
                                <div class="message">There are no reviews to display...</div>
                            </div>
                        </div>
                        {% endif %}
                        {% if not review_check %}
                            <form action="" method="post">
                                {{ form.csrf_token }}
                                <div class="info-section" style="box-shadow: none;"> 
                                    <div class="messageContainer">
                                        <div class="message rating clearfix">
                                            {{ form.rating(id="input-id",class="rating", type="text") }}
                                        </div>
                                    </div>
                                    <div class="responceContainer clearfix">
                                        {{ form.review(placeholder="Type in your comment") }}
                                        <button type="submit" class="send"><i class="fa fa-send" aria-hidden="true"></i> Send</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                  </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}