{% extends "marketplace/profile-layout.html" %}

{% block title %}Marketplace :: Messages{% endblock %}

{% block profilePages %}
    <div class="col-md-9 p-0 ">
        <div class="info-section">
            
        </div>
    </div>

    <div class="col-md-9 p-0 ">
        <div class="info-section">
            <div class="messageContainer">
                <!-- <div class="name">Adewale Akande</div> -->
                    <div class="message rating clearfix">
                        <input id="input-id" type="text" class="rating" step=2>
                    </div>
            </div>

            <div class="responceContainer clearfix">
                <form action="">
                <textarea placeholder="Type in your comment"></textarea>
                    <button type="submit" class="send"><i class="fa fa-send" aria-hidden="true"></i> Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

