{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Report User{% endblock %}
{% block customClass %}white{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="info-section" style="height: 50em; margin-top: 50px; box-shadow: none;">
            <div class="messageContainer">
                <div class="name" style="color: red;">Report {{ user }}</div>
            </div>

            <div class="responceContainer clearfix">
                <form action="" method="post">
                    {{ form.csrf_token }}
                    <label for="">Describe your complaint</label>
                    {{ form.complaint(placeholder="Type in your message") }}
                    {% if form.complaint.errors %}
                    <div class="form-error">{{form.complaint.errors}}</div>
                    {% endif %}
                    <button type="submit" class="send"><i class="fa fa-send" aria-hidden="true"></i> Submit Complaint</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}