{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Login Page{% endblock %}
{% block customID %}login{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
    <!-- <form action="" method="post">
        {{ form.errors }}<br/>
        {{ form.csrf_token }}
        Email: {{ form.email() }}<br/><br/>

        <input type="submit" value="Reset Password"/>
    </form>
    <hr/>
    <p><a href="{{ url_for('.login') }}">Back to Login</a></p> -->


    <div id="main">

        <div>
            <div class="login-wrap">
                <div class="form-section">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="form-heading">Login</div>
                        <div class="form-wrap">
                            <span class="form-label">Email</span>
                            {{ form.email(placeholder="Enter your email") }}
                        </div>
                        <button data-rippleria class="login-submit btn-shadow" type="submit">Login</button>
                    </form>
                </div>
                <div class="info-section">
                    <div class="logo">Farm House</div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, officiis! Obcaecati ut necessitatibus eum ad minus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                    <a data-rippleria href="{{url_for('.signup')}}" class="sign-up btn-shadow">Register Now</a>
                </div>
            </div>
            <div class="outside-content">
                <ul>
                    <li><a href="{{ url_for('.login') }}"> <strong>Back to Login</strong> </a></li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}