{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Signup{% endblock %}
{% block customID %}sign-up{% endblock %}
{% block header %}{% endblock %}
{% block mobileHeader %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}

<div id="main">
    <div class="signup" id="signUP">
        <div class="signup-wrap clearfix">
            <div class="form-section">
                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="form-heading">Signup</div>

                    <div class="half clearfix">
                        <div class="form-wrap">
                            <span class="form-label">Full Name</span>
                            {{ form.full_name(placeholder="FULL NAME") }}
                            {% if form.full_name.errors %}
                                <div class="form-error">{{ form.full_name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">User Name</span>
                            {{ form.username(placeholder="USER NAME") }}
                            {% if form.username.errors %}
                                <div class="form-error">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="half clearfix">
                        <div class="form-wrap">
                            <span class="form-label">Email</span>
                            {{ form.email(placeholder="YOUR EMAIL ADRESS") }}
                            {% if form.email.errors %}
                                <div class="form-error">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">Phone Number</span>
                            {{ form.phone(placeholder="YOUR PHONE NUMBER") }}
                            {% if form.phone.errors %}
                                <div class="form-error">{{ form.phone.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="half clearfix">
                        <div class="form-wrap">
                            <span class="form-label">Password</span>
                            {{ form.password(placeholder="ENTER VALID PASSWORD") }}
                            {% if form.password.errors %}
                                <div class="form-error">{{ form.password.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">Confirm Password</span>
                            {{ form.confirm_password(placeholder="ENTER VALID PASSWORD") }}
                            {% if form.confirm_password.errors %}
                                <div class="form-error">{{ form.confirm_password.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="half clearfix">
                        <div class="form-wrap">
                            <span class="form-label">Gender</span>
                            {{ form.gender() }}
                            {% if form.gender.errors %}
                                <div class="form-error">{{ form.gender.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">Register As a</span>
                            {{ form.user_type(class="selectType") }}
                            {% if form.user_type.errors %}
                            <div class="form-error">{{ form.user_type.errors }}</div>
                            {% endif %}
                        </div>
                    </div>


                    <div class="extra" style="display: none;">
                        <div class="half clearfix">
                            <div class="form-wrap">
                                <span class="form-label">Farm Name</span>
                                {{ form.farm_name(placeholder="ENTER YOUR FARM NAME") }}
                                {% if form.farm_name.errors %}
                                    <div class="form-error">{{ form.farm_name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-wrap">
                                <span class="form-label">Select State</span>
                                {{ form.state }}
                                {% if form.state.errors %}
                                    <div class="form-error">{{ form.state.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">Tell us a bit about your farm</span>
                            {{ form.farm_profile }}
                            {% if form.farm_profile.errors %}
                                <div class="form-error">{{ form.farm_profile.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="half clearfix">
                            <div class="form-wrap">
                                <span class="form-label">Years of Experience</span>
                                {{ form.years_active }}
                                {% if form.years_active.errors %}
                                    <div class="form-error">{{ form.years_active.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-wrap">
                                <span class="form-label">Area of Expertise</span>
                                {{ form.expertise }}
                                {% if form.expertise.errors %}
                                    <div class="form-error">{{ form.expertise.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-wrap">
                            <span class="form-label">Categories</span>
                            <sub>Select applicable categories</sub>
                            {{ form.categories }}
                            {% if form.categories.errors %}
                                <div class="form-error">{{ form.categories.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <button data-rippleria class="login-submit btn-shadow" type="submit">Signup</button>
                </form>
            </div>
        </div>

       <!--  <div class="social-login">
            <div class="title">Sign up with</div>
            <ul>
                <li><a data-rippleria class="facebook btn-shadow" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a data-rippleria class="google btn-shadow" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a data-rippleria class="linkedin btn-shadow" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div> -->

        <div class="outside-content">
            <ul>
                <li><a href="/"> <strong>Back to theagricstore.com</strong> </a></li>
                <li><a href="{{url_for('.login')}}"> <strong>Login</strong> </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}