{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: Upload Avatar{% endblock %}
{% block customClass %}white{% endblock %}
{% block body %}
    <!-- <div>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.errors }}<br/>
            {{ form.csrf_token }}
            Upload Avatar:<br/>
            {{ form.avatar() }}<br/>
            <input type="submit" value="Upload Avatar"/>
        </form>
    </div> -->
    <div id="main" class="wrapper">
    <div style="height: 40em;">
	    <div>
	        <form action="" method="post" enctype="multipart/form-data">    
	        <div class="info-section">
	            <div class="user-info clearfix">
	                <form action="" method="post" enctype="multipart/form-data">
	                {{ form.csrf_token }}
	                    <div class="form-group addPic">
	                        <label for="exampleInputFile">Select A Picture</label>
	                        <div class="custom-file-upload">
	                        	{{ form.avatar() }}
	                        </div>
	                        {% if form.avatar.errors %}
	                        	<div class="form-error">{{ form.avatar.errors }}</div>
	                        {% endif %}
	                        <div class="clearfix"></div>
	                        <button type="submit" class="btn btn-default pull-left safeBtn">Save</button>
	                    </div>	                  
	                </form>

	            </div>
	            <div class="farmer-info">
	                            
	            </div>
	        </div>
	        </form>
	    </div>
	</div>
	</div>
{% endblock %}
