{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: {{ prod }}{% endblock %}

{% block body %}
    <div class="clearfix wrapper">
        <div class="product-view-wrap clearfix">
            <div class="col-md-8">
                <div class="productImageWrap clearfix">
                    <div class="thumbnailsWrap col-md-3">
                    {% if prod.pictures %}
                        {% for pic in prod.pictures %}
                            <span class="thumbnails">
                                <img src="{{ url_for('static', filename='uploads/'+pic.picture_name) }}" alt="">
                            </span>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="mainProductWrap col-md-9">
                        <div class="mainProduct">
                            <img src="{{ url_for('static', filename='uploads/'+prod.cover_picture()) }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="proInfo">
                    <div class="proName">{{ prod }}</div>
                    <div class="proPrice">
                        ₦{{ prod.price }} <span class="measure">per {{ prod.measure.measure }}</span>
                    </div>
                    {% if prod.farm.get_rating %}
                        <div class="star">
                            <div class="rate">
                                {{ prod.farm.get_formatted_rating() }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="proDecription">
                        <table> 
                            <tr>
                                <td class="name">Sold By</td>
                                <td class="description"><a href="{{ url_for('.profile', userid=prod.farm.user_id) }}">{{ prod.farm }}</a></td>
                            </tr>
                            <tr>
                                <td class="name">Contact Information</td>
                                <td class="description">{{prod.farm.farmer.phone_number}}</td>
                            </tr>
                            <tr>
                                <td class="name">Product Description</td>
                                <td class="description">{{ prod.description }}</td>
                            </tr>
                            <tr>
                                <td class="name">Category</td>
                                <td class="description">{{ prod.category }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="contact-farmer">
                    <a class="button" href="{{ url_for('.send_message', userid=prod.farm.farmer.id) }}">Contact Farmer</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            {% if related  %}
                <br/><br/>
                <!--
            <div class="otherProduct">Other Products From {{prod.farm}}</div>
            <div class="line"></div>
            <div class="product-section">
                <ul>
                    {% for product in related %}
                    <li>
                        <a href="#" class="clearfix">
                            <div class="col-md-3 p-0">
                                <div class="img" style="background-image: url({{ url_for('static', filename='uploads/'+product.cover_picture()) }})"></div>
                            </div>
                            <div class="col-md-7">
                                <div class="name">{{ product }}</div>
                                {% if product.farm.get_rating %}
                                    <div class="rate">
                                        {{ product.farm.get_formatted_rating() }}
                                    </div>
                                {% endif %}
                                <div class="decription">
                                    {{ product.description }}
                                </div>
                                <div class="store">
                                    <span>Sold by:</span> <span><a href="{{ url_for('.profile', userid=product.farm.user_id) }}">{{ product.farm }}</a></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="price-wrap">
                                    ₦{{ product.price }} <span class="measure">per {{ product.measure.measure }}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
                -->
            {% endif %}
        </div>
    </div>
{% endblock %}