{% extends "marketplace/_layout.html" %}

{% block title %}Marketplace :: My Wishlist{% endblock %}
{% block customClass %}white{% endblock %}
{% block body %}
    <div id="main" class="wrapper">
        <div class="wishlist">
            {% if current_user.wishlist %}
                <a href="{{ url_for('.add_wishlist') }}" class="wishlistbtn btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Add Wish List</a>
                <div class="clearfix"></div>
            {% for item in current_user.wishlist %}
            <div class="col-md-4">
                <div class="shadowed wish clearfix">
                    <span class="pull-left"><b>{{ item }}</b></span>
                    <span class="pull-right"><b>{{ item.date_posted }}</b></span>
                    <br/>
                    <div style="word-break: break-all;" class="pt-20">{{ item.description }}</div>
                    <br/>
                    <span class="pull-right">
                        <a class="remove" href="{{ url_for('.remove_wishlist', wishid=item.id) }}">
                            Remove item
                        </a>
                    </span><br/>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
            {% else %}
                <div class="noItems">
                    <div class="icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
                    <div class="message">You have not added any items to your wishlist...</div>
                    <a class="actionBtn" href="{{ url_for('.add_wishlist') }}">Add Wishlist</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}