/*
 ####################################
        ROBOTO CONDENSED FONT
 ####################################
 */

@font-face {
    font-family: RobotoCondensed;
    src: url('Roboto_Condensed/RobotoCondensed-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: RobotoCondensed;
    src: url('Roboto_Condensed/RobotoCondensed-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: RobotoCondensed;
    src: url('Roboto_Condensed/RobotoCondensed-Italic.ttf');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: RobotoCondensed;
    src: url('Roboto_Condensed/RobotoCondensed-Regular.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: RobotoCondensed;
    src: url('Roboto_Condensed/RobotoCondensed-Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: RobotoCondensed;
    src: url('Roboto_Condensed/RobotoCondensed-LightItalic.ttf');
    font-style: italic;
    font-weight: normal;
}

/*
 ####################################
            NOTOSANS FONT
 ####################################
 */


@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: NotoSans;
    src: url('Noto_Sans/NotoSans-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

/*
 ####################################
          SENSATION FONT
 ####################################
 */

@font-face {
    font-family: sensation;
    src: url('sansation/Sansation_Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: sansation;
    src: url('sansation/Sansation_Bold_Italic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: sensation;
    src: url('sansation/Sansation_Regular.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: sensation;
    src: url('sansation/Sansation_Italic.ttf');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: sensation;
    src: url('sansation/Sansation_Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: sensation;
    src: url('sansation/Sansation_Light_Italic.ttf');
    font-style: italic;
    font-weight: normal;
}