{% extends "admin/layout/_admin.html" %}

{% block pageTitle %}Add New Admin{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Create Administrator
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        {{ form.errors }}
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input name="full_name" type="text" class="form-control" placeholder="Full Name">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input name="username" type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            <input name="phone" type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">@</span>
                            <input name="email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-intersex"></i></span>
                            <select name="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input name="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group input-group">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Create Admin" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}