{% extends "admin/layout/_admin.html" %}

{% block pageTitle %}Add Category{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Create Category
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        {{ form.errors }}
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            <input name="category" type="text" class="form-control" placeholder="Category Name">
                        </div>
                        <div class="form-group">
                            <label>Category Image:</label>
                            <ul id="categories">
                                {% for icon in cat_images %}
                                    <li>
                                        <input type="radio" name="category_icon" value="{{ icon }}" id="icon{{ loop.index }}">
                                        <label for="icon{{ loop.index }}" style="background-image: url('/static/img/{{ icon }}')">
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group input-group">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Save Category" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}