{% extends "admin/layout/_admin.html" %}

{% block pageTitle %}Create/Edit Measurement{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Create/Edit Measurement
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        {{ form.errors }}
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-table"></i></span>
                            {% if measure %}
                                <input name="measure" value="{{ measure }}" type="text" class="form-control">
                            {% else %}
                                <input name="measure" type="text" class="form-control" placeholder="Measurement">
                            {% endif %}
                        </div>
                        <div class="form-group input-group">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Save Measurement" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}