{% extends "admin/layout/_admin.html" %}

{% block pageTitle %}Add New Post{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Create New Noticeboard Post
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        {{ form.errors }}
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-table"></i></span>
                            <input name="title" type="text" class="form-control" placeholder="Post Title">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon" style="vertical-align: top;"><i class="fa fa-table"></i></span>
                            <textarea name="notice" rows="50" cols="100" placeholder="Body">

                            </textarea>
                        </div>
                        <div class="form-group input-group">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Create Post" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}