{% extends "admin/layout/_admin.html" %}

{% block pageTitle %}{{ prod.farm }} - Edit {{ prod }}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ prod }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        {{ form.errors }}
                        <div class="form-group">
                            <label>Product Name:</label>
                            {{ form.product_name(class_="form-control") }}
                        </div>
                        <div class="form-group form-inline">
                            <label>Price:</label> {{ form.price(class_="form-control") }} <label>per</label> {{ form.measure(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            {{ form.description(class_="form-control", rows=5) }}
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            {{ form.category_id(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>Picture 1</label>
                            <input type="file" name="picture1">
                        </div>
                        <div class="form-group">
                            <label>Picture 2</label>
                            <input type="file" name="picture2">
                        </div>
                        <div class="form-group">
                            <label>Picture 3</label>
                            <input type="file" name="picture3">
                        </div>
                        <div class="form-group">
                            <label>Picture 4</label>
                            <input type="file" name="picture4">
                        </div>
                        <div class="form-group input-group">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Update Product" />
                        </div>
                    </form>
                </div>
                {% if prod.pictures %}
                    <div class="col-lg-6">
                        {% for pic in prod.pictures %}
                            <div class="panel panel-default" style="width: 150px;">
                                <img class="img-rounded img-thumbnail" src="{{ url_for('static', filename='uploads/'+pic.picture_name) }}" alt="">
                                <div class="panel-footer">
                                    <a href="{{ url_for('.delete_picture', pic_id=pic.id) }}">
                                        <input type="button" class="btn btn-sm btn-danger" value="Delete Picture">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}