{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Featured Farms{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Featured Farms
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Farm Name</th>
                        <th>Location</th>
                        <th>Expertise</th>
                        <th>Owned By</th>
                        <th>Rating</th>
                        <th>Date Featured</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for ft in feats %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ ft.farm.farm_name }}</td>
                        <td>{{ ft.farm.state.state }}</td>
                        <td>{{ ft.farm.expertise }}</td>
                        <td>{{ ft.farm.farmer.full_name }}</td>
                        <td>{{ ft.farm.get_formatted_rating() }}</td>
                        <td>{{ ft.date_created }}</td>
                        <td>
                            <a href="{{ url_for('.remove_featured_farm', feat_id=ft.id) }}" data-toggle="tooltip" data-placement="top" title="Remove {{ ft.farm }}"><i class="fa fa-remove"></i></a>
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}