<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>theAgricStore:: Admin Login</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/bootstrap/css/bootstrap.min.css') }}" />

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/metisMenu/metisMenu.min.css') }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/sb-admin-2.css') }}" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/font-awesome/css/font-awesome.min.css') }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="alert alert-fix alert-success alert-dismissible" style="width:30%; margin:auto" role="alert">
                          <button type="button" class="close closeAlert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Well done!</strong> {{ message }}.
                        </div>
                    {% else %}
                        <div class="alert alert-fix alert-danger alert-dismissible" style="width:30%; margin:auto" role="alert">
                          <button type="button" class="close closeAlert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Oh snap!</strong> {{ message }}.
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">theAgricStore Backend</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            {{ form.csrf_token }}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='admin/dist/js/sb-admin-2.js') }}"></script>

</body>

</html>
