{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Products{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Showing All Products
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Farm Name</th>
                        <th>Price</th>
                        <th>Date Posted</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for prod in prods %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ prod.product_name }}</td>
                        <td>{{ prod.farm }}</td>
                        <td>{{ prod.get_price() }}</td>
                        <td>{{ prod.date_posted }}</td>
                        <td>
                            <a href="{{ url_for('.edit_product', prod_id=prod.id) }}" data-toggle="tooltip" data-placement="top" title="Edit {{ prod }}"><i class="fa fa-edit"></i></a>
                            {% if not prod.is_featured %}
                                <a href="{{ url_for('.add_featured_product', prod_id=prod.id) }}" data-toggle="tooltip" data-placement="top" title="Feature {{ prod }}"><i class="fa fa-check-circle"></i></a>
                            {% endif %}
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}