{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Farms{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Showing All Farms
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Farm Name</th>
                        <th>Location</th>
                        <th>Expertise</th>
                        <th>Years Active</th>
                        <th>Owned By</th>
                        <th>No of Products</th>
                        <th>Rating</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for farm in farms %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ farm.farm_name }}</td>
                        <td>{{ farm.state.state }}</td>
                        <td>{{ farm.expertise }}</td>
                        <td>{{ farm.years_active }}</td>
                        <td>{{ farm.farmer.full_name }}</td>
                        <td>{{ farm.product_count }}</td>
                        <td>{{ farm.get_formatted_rating() }}</td>
                        <td>
                            {% if not farm.is_featured %}
                                <a href="{{ url_for('.add_featured_farm', farm_id=farm.id) }}" data-toggle="tooltip" data-placement="top" title="Feature {{ farm }}"><i class="fa fa-check-square-o"></i></a>
                            {% endif %}
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}