{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Users{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Portal Users
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Account Status</th>
                        <th>Verified?</th>
                        <th>Farm Name</th>
                        <th>Area of Expertise</th>
                        <th>Rating</th>
                        <th>Location</th>
                        <th>No. of Products</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for user in users %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ user.username }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>
                            {% if user.status == 0 %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_verified() %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_farmer() %}
                                {{ user.farm.farm_name }}
                            {% else %}
                                <i>N/a</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_farmer() %}
                                {{ user.farm.expertise }}
                            {% else %}
                                <i>N/a</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_farmer() %}
                                {% if user.farm.get_rating %}
                                    {{ user.farm.get_formatted_rating() }}
                                {% else %}
                                    <i>Not rated</i>
                                {% endif %}
                            {% else %}
                                <i>N/a</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_farmer() %}
                                {{ user.farm.state }}
                            {% else %}
                                <i>N/a</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_farmer() %}
                                {{ user.farm.product_count }}
                            {% else %}
                                <i>N/a</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if not user.is_verified() %}
                                <a href="{{ url_for('.verify', user_id=user.id) }}" data-toggle="tooltip" data-placement="top" title="Verify {{ user }}"><i class="fa fa-check-square-o"></i></a>
                            {% endif %}

                            {% if user.status == 0 %}
                                <a href="{{ url_for('.toggle_user_status', operation=1, user_id=user.id) }}" data-toggle="tooltip" data-placement="top" title="Deactivate {{ user }}"><i class="fa fa-wrench"></i></a>
                            {% else %}
                                <a href="{{ url_for('.toggle_user_status', operation=0, user_id=user.id) }}" data-toggle="tooltip" data-placement="top" title="Activate {{ user }}"><i class="fa fa-wrench"></i></a>
                            {% endif %}
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}