{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Administrators{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Admin Users
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email Address</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for admin in admins %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.email }}</td>
                        {% if admin.status == 0 %}
                            <td>Active</td>
                        {% else %}
                            <td>Inactive</td>
                        {% endif %}
                        <td class="center">{{ admin.sign_up_date }}</td>
                        <td class="center">
                            {% if admin.status == 0 %}
                                <a href="{{ url_for('.toggle_admin_status', operation=1, admin_id=admin.id) }}" data-toggle="tooltip" data-placement="top" title="Deactivate {{ admin }}"><i class="fa fa-wrench"></i></a>
                            {% else %}
                                <a href="{{ url_for('.toggle_admin_status', operation=0, admin_id=admin.id) }}" data-toggle="tooltip" data-placement="top" title="Activate {{ admin }}"><i class="fa fa-wrench"></i></a>
                            {% endif %}
                            <a href="{{ url_for('.delete_admin', admin_id=admin.id) }}" data-toggle="tooltip" data-placement="top" title="Delete {{ admin }}"><i class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}