{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Categories{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Product Categories
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Category Icon</th>
                        <th>Product Count</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for cat in cats %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ cat.category }}</td>
                        <td>{{ cat.image }}</td>
                        <td>{{ cat.product_count }}</td>
                        <td class="center">
                            <a href="{{ url_for('.edit_category', cat_id=cat.id) }}" data-toggle="tooltip" data-placement="top" title="Edit category"><i class="fa fa-edit"></i></a>
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}