{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Wishlist{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Wishlist Items
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Description</th>
                        <th>Location</th>
                        <th>Wanted By</th>
                        <th>Contact Number</th>
                        <th>Status</th>
                        <th>Date Posted</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for item in items %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.state.state }}</td>
                        <td>{{ item.owner.full_name }}</td>
                        <td>{{ item.owner.phone_number }}</td>
                        {% if item.status == 0 %}
                            <td>Pending</td>
                        {% else %}
                            <td>Treated</td>
                        {% endif %}
                        <td>{{ item.date_posted }}</td>
                        <td class="center">
                            {% if item.status == 0 %}
                                <a href="{{ url_for('.toggle_item_status', operation=1, wish_id=item.id) }}" data-toggle="tooltip" data-placement="top" title="Mark as Treated"><i class="fa fa-wrench"></i></a>
                            {% else %}
                                <a href="{{ url_for('.toggle_item_status', operation=0, wish_id=item.id) }}" data-toggle="tooltip" data-placement="top" title="Mark as Pending"><i class="fa fa-wrench"></i></a>
                            {% endif %}
                            <a href="{{ url_for('.delete_item', wish_id=item.id) }}" data-toggle="tooltip" data-placement="top" title="Delete item"><i class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}