{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Complaints{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Complaints
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Complaint</th>
                        <th>Reported By</th>
                        <th>Complaint Against</th>
                        <th>Status</th>
                        <th>Date Posted</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for item in items %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ item.complaint }}</td>
                        <td>{{ item.reported_by.full_name }}</td>
                        <td>{{ item.reported.full_name }}</td>
                        {% if item.status == 0 %}
                            <td>Pending</td>
                        {% else %}
                            <td>Treated</td>
                        {% endif %}
                        <td>{{ item.date_posted }}</td>
                        <td class="center">
                            {% if item.status == 0 %}
                                <a href="{{ url_for('.toggle_complaint_status', operation=1, complaint_id=item.id) }}" data-toggle="tooltip" data-placement="top" title="Mark as Treated"><i class="fa fa-wrench"></i></a>
                            {% else %}
                                <a href="{{ url_for('.toggle_complaint_status', operation=0, complaint_id=item.id) }}" data-toggle="tooltip" data-placement="top" title="Mark as Pending"><i class="fa fa-wrench"></i></a>
                            {% endif %}
                            <a href="{{ url_for('.toggle_user_status', operation=1, user_id=item.user_id, complaint=True) }}" data-toggle="tooltip" data-placement="top" title="Ban {{ item.reported.full_name }}"><i class="fa fa-minus-circle"></i></a>
                            <a href="{{ url_for('.delete_complaint', complaint_id=item.id) }}" data-toggle="tooltip" data-placement="top" title="Delete item"><i class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}