{% extends "admin/layout/_admin.html" %}
{% block headerScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.css') }}" />

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.css') }}" />
{% endblock %}

{% block pageTitle %}Manage Noticeboard Posts{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage Posts
        </div>
         <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Date Posted</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% set x = 1 %}
                    {% for notice in notices %}
                        {% if x/2 != 0 %}
                            <tr class="odd gradeX">
                        {% else %}
                            <tr class="even gradeX">
                        {% endif %}
                        <td>{{ notice.title }}</td>
                        <td>{{ notice.notice[0:100] }}</td>
                        <td>
                            {% if notice.status == 0 %}
                                Published
                            {% else %}
                                Archived
                            {% endif %}
                        </td>
                        <td>
                            {{ notice.date_posted }}
                        </td>
                        <td>
                            {% if notice.status == 0 %}
                                <a href="{{ url_for('.toggle_post_status', operation=1, post_id=notice.id) }}" data-toggle="tooltip" data-placement="top" title="Archive this post"><i class="fa fa-wrench"></i></a>
                            {% else %}
                                <a href="{{ url_for('.toggle_post_status', operation=0, post_id=notice.id) }}" data-toggle="tooltip" data-placement="top" title="Publish this post"><i class="fa fa-wrench"></i></a>
                            {% endif %}
                            <a href="{{ url_for('.delete_post', post_id=notice.id) }}" data-toggle="tooltip" data-placement="top" title="Delete this post"><i class="fa fa-trash-o"></i></a>
                        </td>
                        </tr>
                        {% set x = x + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerScripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='admin/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}